.func2-win-num-container{
  height:7rem;
  display:flex;
  align-items: center;
  justify-content: center;
}

.func2-win-num-text {
  font-size:1.4rem;
}

.func2-win-num-box {
  display: flex;
  margin-left:3rem;
}

.func2-win-num-box > div {
  font-size:1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-right: 2rem;
  color: var(--default-color);
  background-color: var(--main-color);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}