.mypage-table-num-box{
    margin-bottom:1rem;
}

.mypage-table-num-box > .mypage-table-content:last-child{
    border-bottom: 1px solid var(--border-color);
}

.mypage-num-delete-btn-box{
    height:10rem;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.mypage-num-delete-btn{
    font-size:1.4rem;
    width:10rem;
    height:4rem;
    background-color: var(--button-color2);
    color:var(--default-color);
}
