.mypage-num-container>div:not(:last-child){
  border-bottom: 1px dashed var(--border-color);
}

.mypage-num-box{
  width:100%;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.mypage-num-box > div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mypage-num-box > div{
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--default-color);
  width: 3rem;
  height: 3rem;
  margin: 1rem 2rem;
  line-height: 1.7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.mypage-title{
  font-size:1.5rem;
  height:4rem;
  display:flex;
  align-items: center;
  padding-left:2rem;
  border-bottom: 1px solid var(--border-color);
  font-weight: 500;
  background-color: var(--table-title-color);
}


.mypage-content-box{
  height:80%;
}

.mypage-info-box{
  padding: 2rem;
  height: 20rem;
}

.mypage-nickname,
.mypage-service  {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.mypage-info-box > li{
font-size: 1.4rem;
height:25%;
display: flex;
align-items: center;
}

.mypage-info-box > li >div{
 height:100%; 
 display: flex;
 align-items: center;
}

.mypage-info-box > li>div >span:nth-child(1){
  width:8rem;
}
.mypage-info-box > li>div >span:nth-child(2){
  width:3rem;
}
.mypage-info-box > li>div >span:nth-child(3) > span{
  font-weight: 500;
  font-size: 1.3rem;
  color: rgb(113, 113, 113);
  margin-left: 1rem;
}

.service-update-btn{
  width: 4rem;
  height:2.5rem;
  color:black;
}

.mypage-point > div{
  display:flex;
}

.mypage-win-num{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mypage-win-num > div{
  width: 2.5rem;
  height: 2.5rem;
  background-color: blue;
  margin-right: 1rem;
  border-radius: 50%;
  color: var(--default-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.mypage-table-num-box{
  margin-top:1rem;
}


.mypage-notice-box > i{
  cursor: pointer;
  position: relative;
  font-size:3rem;
  color: var(--main-color);
}

.mypage-notice-box > i:hover{
  animation: swing 0.6s ease;
}

@keyframes swing
{
    0% { transform:rotateZ(0); }
    25%{ transform:rotateZ(25deg); }
    50%{ transform:rotateZ(-15deg); }
    75%{ transform:rotateZ(10deg); }
    100%{ transform:rotateZ(0); }
}

.mypage-notice-num{
  background-color: var(--main-color);
  color:var(--default-color);
  border:2px solid var(--default-color);
  border-radius: 0.7rem;
  position: absolute;
  top:0;
  right:-1rem;
  width:2.5rem;
  padding:0.1rem;
  font-size:1.2rem;
}

.rank{
  margin-right: 1rem;
  font-weight: 500;
  font-size: 1.5rem;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
}

@keyframes rank{
	0% {
		background-position: 0% 50%;
  }
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  
.rank-first{
  animation: rank 3s ease-in infinite;
  color: rgb(153, 84, 195);
  background: linear-gradient(45deg, gold 10%, white 56%,gold 90%);
  background-size: 200% 200%;
  border: 0.1rem solid #00ada5;
  font-weight: 600;
}

.rank-second{
  animation: rank 3s ease-in infinite;
  color: rgb(0, 173, 165);
  background: linear-gradient(45deg, rgb(136, 136, 136) 0%,rgb(243, 243, 243) 56%,rgba(149, 148, 148, 0.5) 96%);
  background-size: 200% 200%;
  border: 0.1rem solid #89b1ff;
}

.rank-third{
  animation: rank 3s ease-in infinite;
  color: rgb(187, 117, 47);
  background: linear-gradient(45deg, rgb(216, 141, 66) 3%,rgb(226, 226, 226) 56%,rgb(212, 138, 64) 95%);
  background-size: 200% 200%;
  border: 0.1rem solid #cebfb9;
}


.rank-fourth{
  color:rgb(112, 99, 97);
  background: linear-gradient(45deg,  rgba(127, 108, 104,1) 3%,rgb(209, 188, 184) 56%,rgb(112, 96, 92) 96%); 
}

.rank-fifth{
  color:rgb(98, 85, 82);
  background: linear-gradient(45deg,  rgb(104, 90, 88) 3%,rgb(143, 121, 117) 56%,rgb(107, 93, 91) 96%); 
}
