.mynum-selectbox-container{
    width: 12rem;
    height: 3.3rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem;
    text-align: center;
}

.mynum-selectbox-container>select:not(:last-child){
    margin-right:1rem;
}

.mynum-selectbox-text{
    font-size:1.5rem;
}

.selectr-input-clear{
    display:none !important;
}

.selectr-input{
    width: calc(100% - 40px);
    margin:10px;
    padding-right:1.3rem;
}

.selectr-options {
    max-height: 40rem !important;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.selectr-options::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}