.mynum-selectbox-container{
    height:3.3rem;
    margin-bottom: 1rem;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.mynum-selectbox-container>select{
    width:6rem;
    height:100%;
}

.mynum-selectbox-container>select:not(:last-child){
    margin-right:1rem;
}

.mynum-selectbox-text{
    font-size:1.5rem;
}
