.mypage-num-result-box{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}


#mypage-num-result-value,
#mypage-num-result-value-percent{
    font-weight: bold;
}

#mypage-num-result-value-percent{
    color: red;
}