
/* footer */

/* top-footer */

.top-footer-container {
  height: 40px;
  border-top: 1px solid var(--border-color);
}

.top-footer > ul {
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-footer > ul > li {
  padding: 0 10px;
  font-size: 0.8rem;
}

/* mid-footer */

.mid-footer-container {
  height: 100px;
  background-color: #ececec;
  border-top: 1px solid var(--border-color);
}

.mid-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mid-footer > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.9rem;
  padding: 20px;
  margin-right: 50px;
}

/* bottom-footer */

.bottom-footer-container {
  height: 200px;
}

.bottom-footer {
  display: flex;
  align-items: center;
}

.bottom-footer > h1 {
  margin-right: 30px;
}

.bottom-footer > div > p {
  font-size: 0.8rem;
}

.bottom-footer > div > p:nth-child(1) {
  padding: 10px 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 10px;
}

.bottom-footer > div > p:nth-child(1) {
  padding: 10px 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 10px;
}

.bottom-footer > div > p:not(:nth-child(1)) {
  margin-bottom: 10px;
}
