
/* footer */

/* top-footer */

.top-footer-container {
  height: 40px;
  border-top: 1px solid var(--border-color);
}

.top-footer > ul {
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-footer > ul > li {
  padding: 0 10px;
  font-size: 14px;
}

/* mid-footer */

.mid-footer-container {
  height: 100px;
  background-color: #ececec;
  border-top: 1px solid var(--border-color);
}

.mid-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mid-footer > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  padding: 20px;
}

/* bottom-footer */

.bottom-footer {
  display: flex;
  align-items: center;
}

.bottom-footer > h1 {
  margin-right: 30px;
}

.bottom-footer > div > p {
  font-size: 0.8rem;
}

.bottom-footer > div > p:nth-child(1) {
  padding: 10px 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 10px;
}

.bottom-footer > div > p:nth-child(1) {
  padding: 10px 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 10px;
}

.bottom-footer > div > p:not(:nth-child(1)) {
  margin-bottom: 10px;
}

@media (min-width: 0px) and (max-width: 767px) {

.bottom-footer {
  display: block;
  text-align: center;
}

.bottom-footer > h1 {
  margin:0;
}

.bottom-footer > div > p {
  font-size: 0.6rem;
  
}

}

@media (min-width: 481px) and (max-width: 767px) {

  .top-footer > ul > li {
    font-size: 12px;
  }


  .mid-footer > div {
    font-size: 13px;
  }

  .bottom-footer > h1 {
    font-size:22px;
  }

}


@media (min-width: 0px) and (max-width: 480px) {

  .top-footer > ul > li {
    font-size: 10px;
  }
  .mid-footer > div {
    font-size: 11px;
  }

  .bottom-footer > h1 {
    font-size:20px;
  }

  
}
