{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry", // or "entry"
                "corejs": 3
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/proposal-class-properties"
    ]
}