/* main */

.main{
  position: relative;
  width:100%;
  padding:1rem 0;
}

.main-aside{
  position: absolute;
  top:1rem;
  left:-17rem;
  width: 15rem;
}

.main-aside img{
  width: 100%;
}

.main-1-1 {
  display:flex;
  margin-bottom: 0.7rem;
  padding-bottom:0.7rem;
}

.main-1-1-1{
  width:73.5%;
  margin-right:0.6rem;
}

.main-image{
  position: relative;
}

.main-image  img{
  display:block;
  width: 100%;
  height: 100%;
}

.img-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 87%;
  left: 50%;
  width: 8rem;
  margin-left:-4rem;
  color: white;
}

.img-btn i {
  font-size: 1.1rem;
  cursor: pointer;
}

.main-1-1-1-1{
  height:65%;
}

.main-1-1-1-2{
  height:35%;
  margin-top: 1.5rem;
}

.main-1-1-2{
  width:26.5%;
}

.main-1-1-2-1{
  height: 40%;
  margin-bottom:0.7rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.main-1-1-2-2{
  height: 60%;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.login-box {
  display:flex;
  width: 100%;
  padding:1rem;
}

.login-input-container{
  width:70%;
}

.login-input-container > input{
  width:100%;
  height:3.4rem;
}

.login-input-container>input:nth-child(1){
  margin-bottom:0.5rem;
}

.login-btn {
  width: 30%;
  margin-left:0.5rem;
  background-color: rgb(41, 125, 194);
  color: white;
  font-size:1.5rem
}

.login-service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1.5rem;
  font-size:1.4rem;
}

.main-1-2{
  display:flex;
  height:15rem;
  margin-bottom: 0.7rem;
}

.main-1-2-1{
  width: 73.5%;
  margin-right:0.6rem;
}

.win-num-times{
  display:flex;
  align-items: center;
  justify-content: center;
  height:4rem;
  font-size:2.4rem;
}

.win-num-times-text{
  margin-left:0.1rem;
}

.win-round{
  font-weight: bold;
}

.win-num-container-box{
  height: 100%;
}

.win-num-container-wrapper{
  display:flex;
}

.win-num-container{
  display:flex;
  align-items: center;
  justify-content:center;
  width: 100%;
  padding:1.5rem 0;
}

.win-num-box{
  display:flex;
  align-items: center;
  justify-content: center;
}

.win-num{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  margin:0.6rem;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: 500;
  font-size: 2.8rem ;
}

.win-info{
  display:flex;
  align-items: center;
  justify-content: center;
  color:rgb(80, 80, 80);
}

.big-text{
  font-size:2.1rem;
}

.small-text{
  font-size:1.9rem;
}


.plus{
  margin-top:-0.5rem;
  color:#777777;
  font-size:4rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.main-1-2-2{
  width: 26.5%;
}

.main-1-3{
  display:flex;
  height:36rem;
  margin-bottom: 0.7rem;
}

.main-1-3-1{
  width:26.5%;  
  margin-right:0.6rem;
}

.win-count-box{
  height: 100%;
}

.win-count-box > div{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.win-count-tab-top-box{
  height:65%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.win-count-tab-bottom-box{
  height: 35%;
}


.win-count-tab{
  text-align: center;
}

.win-count-tab-header{
  padding:0.2rem 0;
  font-size:1.5rem;
}

.win-count-rank-box{
  margin-right:0.5rem;
}

.win-count-small-text{
  font-size:1.8rem;
}

.win-count-small-text .rank{
  margin-right: 0;
transform: translateY(-0.1rem);
}

.win-count-small-text .rank.rank-first,
.win-count-small-text .rank.rank-second,
.win-count-small-text .rank.rank-third{
  width: 2.3rem;
  height: 2.5rem;
}

.win-count-small-text .rank.rank-first .rank-text,
.win-count-small-text .rank.rank-second .rank-text,
.win-count-small-text .rank.rank-third .rank-text{
  font-size:1.8rem;
}

.win-count-big-text{
  font-weight: bold;
  font-size:2.5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.win-count-first-rank{
  color:rgb(199, 74, 72);
}

.win-count-second-rank,
.win-count-third-rank{
  color:rgb(255, 152, 7);
}

.win-count-fourth-rank,
.win-count-fifth-rank{
  color:rgb(112, 99, 97);
}

.main-1-3-2{
  display:flex;
  width:73.5%;  
}

.main-1-3-2-1{
  width: 50%;
  border-right: 1px solid rgba(0,0,0,0.1);
}

.box-title{
  font-size:1.7rem;
  letter-spacing: -0.1rem;
  padding:3rem 0 2rem 2rem;
  color:rgb(80, 80, 80);
}

.board-container{
  padding:0 2rem;
  color:rgb(80, 80, 80);
}

.board-header {
  display: flex;
  height:4.5rem;
  border-top: 1px solid black;
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
  background-color: #f8f9fb;
  font-weight: 500;
}

.board-header > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:1.3rem;
}

.board-tab {
  flex: 1;
  font-size:1.2rem;
}

/* board-section */

.board-section {
  display: flex;
  flex-direction: column;
}

/* board-box */

.board-box {
  display: flex;
  height:4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

.board-box > div {
  display: flex;
  align-items: center;
  justify-content: center;
}


.main-1-3-2-2{
  width: 50%;
}

.main-1-4{
  display:flex;
  height: 60rem;
}

.main-1-4-1{
  width:73.5%;
  margin-right:0.6rem;
}

.review-tabs{
  display:flex;
}

.review-tab{
  width: 20%;
  height:20rem;
  margin:0.5rem;
}

.review-img-box{
  height: 12rem;
}

.review-img-box > img{
  width: 100%;
  height: 100%;
}

.review-content{
  padding:1rem 0;
  color:#535353;
  font-size:1.5rem;
  text-align: center;
}

.review-time{
  color:#535353;
  font-size:1.3rem;
  text-align: center;
}

.community-box{
  padding: 0 2rem;
}

.community-tabs{
  display:flex;
  height:4rem;
}

.community-tab{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top:1px solid rgba(0, 0, 0, 0.1);
  border-left:1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #09538e;
  text-align: center;
  font-size: 1.4rem;
  cursor: pointer;
}

.community-tab:last-child{
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.community-tab.community-tab-current:last-child{
  border-right:1px solid #09538e;
}

.community-tab-current{
  border-top:1px solid #09538e;
  border-left:1px solid #09538e;
  border-right:1px solid #09538e;
  border-bottom: none;
}

.community-content-box{
  padding:1rem 0;
}

.community-content{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:1rem;
  color:#535353;
}

.community-content-title{
  font-size:1.3rem;
}

.community-time{
  font-size:1.1rem;
}

.main-1-4-2{
  width:26.5%;
}

@media (min-width: 0px) and (max-width: 767px) {

  .main-aside{
    display:none;
  }

  .main-1-1,
  .main-1-2,
  .main-1-3,
  .main-1-4{
    display:block;
    height:auto;
  }

  .main-1-1 > div,
  .main-1-2 > div,
  .main-1-3 > div,
  .main-1-4 > div{
    width:100%;
    margin-bottom:1rem;
  }
  .main-1-3 > div,
  .main-1-4 > div{
  height:20rem;
  }

  .main-1-2 > div{
    height:18rem;
  }

  .main-1-1-2{
    height:25rem;
  }

  .main-1-1-2-1{
    display: none;
  }

  .login-box{
    padding-left:4rem;
    padding-right:4rem;
  }

  .login-service{
    padding-left:4rem;
    padding-right:4rem;
  }

  .win-num-container{
    display: block;
  }

  .win-num-times{
    font-size:2rem;
  }

  .win-num{
    width:3.2rem;
    height: 3.2rem;
    margin:0.3rem;
    font-size:1.6rem;
  }

  .small-text{
    font-size:1.6rem;
  }

  .big-text{
    font-size:1.8rem;
  }
}



 