/* main */

.main{
  position: relative;
  width:100%;
  padding:1rem 0;
}

.main-aside{
  position: absolute;
  top:1rem;
  left:-17rem;
  width: 15rem;
}

.main-aside img{
  width: 100%;
}

.main-1-1 {
  display:flex;
  padding-bottom:0.7rem;
}

.main-1-1-1{
  width:73.5%;
  margin-right:0.6rem;
}

.main-image{
  position: relative;
}

.main-image  img{
  display:block;
  width: 100%;
  height: 100%;
}

.img-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 87%;
  left: 50%;
  width: 8rem;
  margin-left:-4rem;
  color: white;
}

.img-btn i {
  font-size: 1.1rem;
  cursor: pointer;
}

.main-1-1-1-1{
  margin-bottom: 0.7rem;
}


.main-1-1-2{
  width:26.5%;
}

.main-1-1-2-1{
  height: 40%;
  margin-bottom:0.7rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.main-1-1-2-2{
  height: calc(60% - 0.7rem);
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.login-box {
  display:flex;
  width: 100%;
  padding:1rem;
}

.login-input-container{
  width:70%;
}

.login-input-container > input{
  width:100%;
  height:3.4rem;
}

.login-input-container>input:nth-child(1){
  margin-bottom:0.5rem;
}

.login-btn {
  width: 30%;
  margin-left:0.5rem;
  background-color: rgb(41, 125, 194);
  color: white;
  font-size:1.5rem
}

.login-service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1.5rem;
  font-size:1.4rem;
}

.login-after-box{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-top:1rem;
  font-size:1.4rem;
}

.login-after-box > div{
  margin-bottom: 1rem;
}

.login-after-nickname {
  margin-right: 1rem;
}

.login-after-anchor-box{
  display:flex;
  align-items: center;
}

.login-after-anchor-box > a{
  color:rgb(105, 105, 105);
}

.login-after-anchor-box > a:hover{
  color:rgb(46, 46, 46);
}

.seperator{
  padding:0 0.5rem;
  color:rgb(119, 119, 119);
}

.anchor-btn{
  padding:0.2rem 0.3rem;
  border-radius: 0.2rem;
  border:1px solid rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
}

.anchor-btn > a{
 color: rgb(71, 71, 71);
}

.main-1-2{
  display:flex;
  height:15rem;
  margin-bottom: 0.7rem;
}

.main-1-2-1{
  width: 73.5%;
  margin-right:0.6rem;
}

.win-num-times{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  font-size: 3.5rem;
  font-weight: bold;
  color: #b70000;
  margin-right: 2rem;
}

.win-num-times-text{
  margin-left:0.1rem;
}

.win-round{
  font-weight: bold;
}

.win-num-container-box{
  height: 100%;
}

.win-num-container-wrapper{
  display:flex;
}

.win-num-container{
  display:flex;
  align-items: center;
  justify-content:center;
  width: 100%;
  padding:1.5rem 0 0.5rem 0;
}

.win-num-box{
  display:flex;
  align-items: center;
  justify-content: center;
}

.win-num{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  margin:0.6rem;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: 500;
  font-size: 2.8rem ;
}

.win-info{
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding:0.5rem 0;
  color:rgb(80, 80, 80);
}

.big-text{
  font-size: 2.1rem;
  color: #f30000;
  font-weight: bold;
}

.small-text{
  font-size:1.9rem;
}


.plus{
  margin-top:-0.5rem;
  color:#777777;
  font-size:4rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.main-1-2-2{
  width: 26.5%;
}

.main-1-3{
  display:flex;
  height:31rem;
  margin-bottom: 0.7rem;
}

.main-1-3-1{
  width:30%;  
  margin-right:0.6rem;
}

.win-count-box{
  height: 100%;
}

.win-count-box > div{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.win-count-tab-top-box{
  height:65%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.win-count-tab-bottom-box{
  height: 35%;
}


.win-count-tab{
  text-align: center;
}

.win-count-tab-header{
  padding:0.2rem 0;
  font-size:1.5rem;
}

.win-count-rank-box{
  margin-right:0.5rem;
}

.win-count-small-text{
  font-size:1.8rem;
}

.win-count-small-text .rank{
  margin-right: 0;
transform: translateY(-0.1rem);
}

.win-count-small-text .rank.rank-first,
.win-count-small-text .rank.rank-second,
.win-count-small-text .rank.rank-third{
  width: 2.3rem;
  height: 2.5rem;
}

.win-count-small-text .rank.rank-first .rank-text,
.win-count-small-text .rank.rank-second .rank-text,
.win-count-small-text .rank.rank-third .rank-text{
  font-size:1.8rem;
}

.win-count-big-text{
  font-weight: bold;
  font-size:2.5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.win-count-first-rank{
  color:rgb(199, 74, 72);
}

.win-count-second-rank,
.win-count-third-rank{
  color:rgb(255, 152, 7);
}

.win-count-fourth-rank,
.win-count-fifth-rank{
  color:rgb(112, 99, 97);
}

.main-1-3-2{
  display:flex;
  width:70%;  
}

.main-1-3-2-1{
  width: 50%;
  margin-right:0.6rem;
  border-right: 1px solid rgba(0,0,0,0.1);
}

.box-title{
  padding:1rem 0 1rem 2rem;
  color:rgb(80, 80, 80);
  font-size:1.7rem;
  word-break: keep-all;
  letter-spacing: -0.1rem;
}

.board-container{
  color:rgb(80, 80, 80);
}

.board-header {
  display: flex;
  height:4.5rem;
  border-top: 1px solid black;
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
  background-color: #f8f9fb;
  font-weight: 500;
}

.board-header > div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size:1.3rem;
}

.board-section > div{
  font-size:1.5rem;
}

.board-section > .board-box:last-child{
  border-bottom: none;
}

.board-tab1{
  flex:1;
}
.board-tab2,
.board-tab3{
flex:2;
}

.board-tab > .rank{
  width: 1.7rem;
  height: 1.9rem;
}

/* board-section */

.board-section {
  display: flex;
  flex-direction: column;
}

/* board-box */

.board-box {
  display: flex;
  height:4.4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

.board-box > div {
  display: flex;
  align-items: center;
  justify-content: center;
}


.main-1-3-2-2{
  width: 50%;
}

.main-1-4{
  display:flex;
}

.main-1-4-1{
  width:73.5%;
  margin-right:0.6rem;
  padding:1rem;
}

.box-title-btn-wrapper{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.info-btn{
  margin-right: 1.5rem;
  margin-top: 0.5rem;
  padding:0.3rem;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 3px;
  background-color: #f6f6f6;
  color: rgb(128, 128, 128);
  font-size: 1.2rem;
}

.info-btn > a{
  color:rgb(128, 128, 128)
}

.detail-btn{
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  width: 5rem;
  height: 2.5rem;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 3px;
  background-color: #66c2ff;
  color: white;
  font-size: 1.2rem;
}

.detail-btn > a{
  color: white;
}

.detail-btn:hover{
  background-color: rgb(138, 196, 243);
}

.real-lotto-text-1{
  color:#f46d00; 
  font-weight: bold;
}

.real-lotto-text-2{
  color:#007bc7; 
  font-weight: bold;
}

.own-lotto-text{
  color:#000096;
   font-weight: bold;
}

.review-tabs{
  width:100%;
}

.review-tab{
  display: inline-block;
  background: #f7f7f7;
  width: calc(20% - 0.6rem);
  height:20rem;
  margin:0.3rem;
}

.review-img-box{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  background-color: white;
}

.review-img-box > img{
  display: block;
  width: 100%;
  height: 100%;
}

.review-content{
  padding-top: 0.5rem;
  width: 10rem;
  margin: 0 auto;
  color:#535353;
  font-size:1.5rem;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.review-time{
  color:#9a9a9a;
  font-size:1.2rem;
  text-align: center;
}

.community-box{
  padding: 0 1rem;
}

.community-tabs{
  display:flex;
  height:4rem;
}

.community-tab{
  background-color: rgb(250, 250, 250);
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top:1px solid rgba(0, 0, 0, 0.1);
  border-left:1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1.4rem;
  cursor: pointer;
  word-break: keep-all;
}

.community-tab:last-child{
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.community-tab-current{
  background-color: white;
  border-bottom: none;
}


.community-content-box{
  height:26rem;
  padding:1rem 0;
  border-left:1px solid rgba(0, 0, 0, 0.1);
  border-right:1px solid rgba(0, 0, 0, 0.1);
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

.community-content-wrapper{
  min-height: 24rem;
}

.community-content{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:0.5rem 2rem;
}

.community-content-title{
  width: 20rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size:1.5rem;
}

.community-content-title > a,
.community-time{
  color:#535353;
}

.community-time{
  padding:1rem;
  font-size:1.2rem;
}

.main-1-4-2{
  width:26.5%;
}

@media (min-width: 0px) and (max-width: 767px) {
  #banner{
    width: 34rem !important;
    height: 21rem !important;
    background: url(./img/main.png) -10px -595px !important;
  }
  .community-time{
    font-size: 1rem;
  }
  .review-tab:last-child{
    display: none;
  }
  .main-aside{
    display:none;
  }

  .main-1-1,
  .main-1-2,
  .main-1-3{
    display:block;
    height:auto;
  }

  .main-1-4{
    display:flex;
    flex-direction: column-reverse;
    height: auto;
  }
  
  .main-1-1-2,
  .main-1-3-1{
    display: none;
  }
  .main-1-1 > div,
  .main-1-2 > div,
  .main-1-3 > div,
  .main-1-4 > div{
    width:100%;
    margin-bottom:1rem;
  }

  .main-1-1{
    padding-bottom: 0;
  }

  .main-1-3-1{
    height:25rem;
  }

  .main-1-3-2{
    height:30.5rem;
  }

  .main-1-3-2-1{
    margin-bottom: 1rem;
  }

  .box-title{
    font-size:1.3rem;
  }

  .board-header > div{
    font-size:1.2rem;
  }

  .board-section > div{
    font-size:1.1rem;
  }

  .board-tab{
    font-size:1.1rem;
  }

  .main-1-1-2{
    height:15rem;
  }

  .main-1-1-2-1{
    display: none;
  }

  .main-1-1-2-2{
    height: 100%;
  }

  .login-box{
    padding-left:4rem;
    padding-right:4rem;
  }

  .login-service{
    padding-left:4rem;
    padding-right:4rem;
  }

  .win-num-container{
    display: block;
  }

  .win-num-times{
    height: 3rem;
    font-size:1.8rem;
  }

  .win-num{
    width:3.2rem;
    height: 3.2rem;
    margin:0.3rem;
    font-size:1.6rem;
  }

  .win-count-small-text .rank.rank-first,
.win-count-small-text .rank.rank-second,
.win-count-small-text .rank.rank-third{
  width: 2.1rem;
  height: 2.3rem;
}
.win-count-small-text .rank.rank-first .rank-text,
.win-count-small-text .rank.rank-second .rank-text,
.win-count-small-text .rank.rank-third .rank-text{
  font-size:1.6rem;
}

.win-count-small-text .rank.rank-fourth,
.win-count-small-text .rank.rank-fifth{
  width: 1.8rem;
  height: 2rem;
}

.win-count-small-text .rank.rank-fourth .rank-text,
.win-count-small-text .rank.rank-fifth .rank-text{
 font-size:1.4rem;
}

  .win-count-big-text{
    font-size: 2.2rem;
  }

  .win-count-small-text{
    font-size:1.3rem;
  }

  .small-text{
    font-size:1.1rem;
  }

  .big-text{
    font-size:1.5rem;
  }

  .review-tab{
    width: 47%;
  }
  .community-tab{
    font-size:1.2rem;
  }

  .community-content-title{
    font-size: 1.2rem;
  }

  .main-1-3-2{
    display: block;
    height: auto;
  }

  .main-1-3-2 > div{
    width: 100%;
  }

  .main-1-4-2{
    height:20rem;
  }

  .detail-btn,.info-btn{
    width:5rem;
    height:2.5rem;
    font-size: 1.2rem;
  }

  .detail-btn{
    top:1.5rem;
  }

  .win-info{
    position: static;
  }

  .win-num-container-box{
    position: relative;
  }
}

.main-aside #img1{
  width: 15rem;
  height: 17rem;
  background: url(./img/main.png) -350px -823px;
}
.main-aside #img2{
  width: 15rem;
  height: 20rem;
  background: url(./img/main.png) -180px -823px;
}
.main-aside #img3{
  width: 15rem;
  height: 21rem;
  background: url(./img/main.png) -10px -823px;
}
#banner{
  width: 100%;
  height: 27rem;
  background: url(./img/main.png) -10px -10px;
}
.community-box{
  padding:0;
}