.price-container {
	padding: 1rem;
  }
  
 .price-box {
	  box-shadow: 0 3px 5px 2px rgba(0,0,0,0.3);
	  font-family: 'Nanum Gothic', serif;
	  font-weight: bold;
	  letter-spacing: 0.1rem;
	  color:white;
	text-align: center;
	transition: 0.3s;
  }

  .price-box:hover {
	box-shadow: 0 10px 15px 5px rgba(0,0,0,0.4);
  }
  
  .price-box .price-header {
	padding:1.3rem 0;
	color: #fff;
	font-size: 2.5rem;
  }

  .price-box .price-content{
text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  }

  .premium-box.price-two-year .price-header{
	background: linear-gradient(45deg, gold 5%,rgb(253, 251, 201) 50%, gold 95%);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  }

  .premium-box.price-two-year .price-section{
	  border-top:2px solid gold;
	background: linear-gradient(45deg, gold 5%,rgb(255, 252, 158) 50%, gold 95%);
  	background-size: 270% 270%;
  }

  .premium-box.price-one-year .price-header{
	background: linear-gradient(45deg, silver 5%,rgb(230, 230, 230) 50%,silver 96%);
	background-size: 270% 270%;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}

.premium-box.price-one-year .price-section{
	border:2px solid silver;
	background: linear-gradient(45deg, silver 5%,rgb(230, 230, 230) 50%,silver 96%);
	background-size: 270% 270%;
}

.premium-box.price-six-month .price-header{
	background-color:#E83F3F;
	
}

.premium-box.price-six-month .price-section{
	border:2px solid #E83F3F;
}
  
.premium-box.price-one-month .price-header{
	background-color:#00ACEE;
	
}

.premium-box.price-one-month .price-section{
	border:2px solid #00ACEE;
}

.price-box.basic-box{
 background-color:#353436;
 color:#D2B17A; 
}

.basic-box.price-three-month .price-header{
	background-color: #00D560;
	
}


.basic-box.price-one-month .price-header{
	background-color: #00ACEE;
	
}

.price-content{
	display:flex;
	flex-direction: column;
	justify-content: center;
	height: 12rem;
	text-align: center;
}
 
 .price-box .price{
	font-size:4rem;
  }

  .price-box .price-info{
	font-size:1.6rem;
  }

  .price-box .price-service-anchor-box{
	  padding:1rem 0;
}

.price-service-anchor{
	  display: inline-block;
	  width: 80%;
	  padding:0.5rem 1.5rem;
	  border-radius: 5px;
	  color:#fff;
	  font-size:1.8rem;
	  text-align: center;
  }

  .premium-box .price-service-anchor{
	background-color: #F19B10;
  }


  .basic-box .price-service-anchor{
	  background-color: rgb(153, 134, 103);
  }
  