.box-border{
	border-radius: 1rem;
    border: 1px solid rgba(0,0,0,0.3);
}
.pay-container{
	margin-top:5rem;
	margin-bottom: 10rem;
}

.pay-price{
	font-weight: bold;
}

.pay-text-seperator{
	margin-left:5rem;
	color:#999;
	font-size:2rem;
}

.payment-text{
	margin-left:3rem;
	font-size:1.6rem;
}

.pay-price-result-box{
    display: flex;
	align-items: center;
	justify-content: space-around;
    height: 5rem;
	margin-left: 3rem;
	padding:0 1.5rem;
    font-size: 1.6rem;
}

.pay-price-result-box > div{
	display: inline-block;
	width: 8rem;
}

.pay-price-result-box > div:nth-child(1){
	margin-right: 3rem;
}

.payment-box{
	border:1px solid rgba(0,0,0,0.3);
}

.payment-box > div{
	font-size: 1.5rem;
}

.payment-tab-box{
	display:flex;
	align-items: center;
	padding:1.5rem 0;
}

.payment-tabs{
	margin-left:3rem;
	margin-right: 10rem;
}

.payment-tab{
	display:flex;
	align-items: center;
	justify-content: center;
	width:12rem;
	height:4.5rem;
	font-size:1.6rem;
	cursor: pointer;
}

.payment-order-btn-box{
	display:flex;
	align-items: center;
	justify-content: flex-end;
	padding-top:2rem;
}

.order-btn{
	width: 15rem;
	height: 4rem;
	background-color: #443d33;
	border-radius: 0.3rem;
	color:white;
	font-size: 1.5rem;
}

.payment-clicked{
	background: #1f1b16;
    color: gold;
}
.price-section-container{
	margin:1rem 0;
}

.price-section-container > div >div:nth-child(1){
	margin-right: 2rem;
}

.price-section-container > div{
	margin-bottom: 2rem;
}

.price-container{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
}

.price-container > div{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
	transition: transform 0.8s ease-out;
}

 .price-box {
	 position: relative;
	 height: 20.8rem;	 
	 border-radius: 1rem;
	 box-shadow: 0 3px 5px 2px rgba(0,0,0,0.3);	 
	 color:white;
	 font-family: 'Nanum Gothic', serif;
	 font-weight: bold;
	 letter-spacing: 0.1rem;
	 backface-visibility:hidden;
	 transform:perspective(1000px) rotateY(0deg);
	 cursor: pointer;	  
  }

  .price-box,
  .price-service-anchor-box{
	background-size: 100% 100%;
	background-position: center;
  }
  
  .price-service-anchor{
	text-shadow: 1px 1px 2px rgba(0,0,0,0.8),
	0px 0px 2px white;
  }

  .premium-box.price-two-year{
	background-image: url(../img//pay/card/twoYearFront.png);  
  }
  .premium-box.price-two-year ~ .price-service-anchor-box{
	background-image: url(../img/pay/card/twoYearBack.png);
  }

  .premium-box.price-one-year{
	background-image: url(../img/pay/card/oneYearFront.png);
  }
  .premium-box.price-one-year ~ .price-service-anchor-box{
	background-image: url(../img/pay/card/oneYearBack.png);
}

.premium-box.price-six-month{
	background-image: url(../img/pay/card/sixMonthFront.png);
}
.premium-box.price-six-month ~ .price-service-anchor-box{
	background-image: url(../img/pay/card/sixMonthBack.png);
}
  
.premium-box.price-one-month{
	background-image: url(../img/pay/card/oneMonthFront.png);
}
.premium-box.price-one-month ~ .price-service-anchor-box{
	background-image: url(../img/pay/card/oneMonthBack.png);
}

 .price-service-anchor-box{
	display:flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	backface-visibility:hidden;
	transform:perspective(1200px) rotateY(180deg);	  
}

.price-service-anchor-hover-box{
	display:flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	background-color: rgba(0,0,0,0.6);
	color:white;
	font-size: 2.5rem;
	opacity:0;
	cursor: pointer;
	backface-visibility:hidden;
	transform:perspective(1000px) rotateY(0deg);
}

@media (min-width: 0px) and (max-width: 767px) {

	.pay-price-result-box{
		flex-direction: column;
		text-align: center;
		margin-left: 1rem;
		padding: 0 1rem;
		font-size: 1.3rem;
	}

	.pay-price-result-box > div:nth-child(1){
		margin-right: 1rem;
	}
	
	.pay-text-seperator{
		margin-left: 0.5rem;
	}
  
	.payment-text{
		margin-left: 1rem;
		font-size:1.3rem;
	}

	.payment-tab-box{
		justify-content: space-around;
	}

	.payment-tabs{
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.payment-tab{
		width: 7rem;
		height:4rem;
		font-size:1.3rem;
	}
  
  }
  