.price-container {
	padding: 1rem;
  }
  
 .price-box {
	position: relative;
	 padding:0 2rem;
	 border-radius: 1rem;
	  box-shadow: 0 3px 5px 2px rgba(0,0,0,0.3);
	  color:white;
	  font-family: 'Nanum Gothic', serif;
	  font-weight: bold;
	  letter-spacing: 0.1rem;
	transition: 0.3s;
  }
  
  .price-box .price-header {
	padding:2rem 0;
	font-size: 2.2rem;
  }

  .price-box .price-header,
  .price-box .price-content{
	text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  }

  .premium-box.price-two-year{
	background: linear-gradient(-45deg, rgb(223, 189, 0) 10%,rgb(255, 252, 158) 50%,  rgb(223, 189, 0) 90%);
  }

  .premium-box.price-one-year{
	background: linear-gradient(-45deg, silver 5%,rgb(238, 238, 238) 50%,silver 96%);
}


.premium-box.price-six-month{
	background-color:#E83F3F;
}

  
.premium-box.price-one-month{
	background-color:#00ACEE;
}


.basic-box.price-three-month{
	background-color: #00D560;	
}

.basic-box.price-one-month{
	background-color: #00ACEE;
	
}

.price-content{
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 15rem;
	padding-bottom:4rem;
	text-align: center;
}

.price-content > div{
	padding-bottom:0.5rem;
}
 
 .price-box .price{
	font-size:3rem;
  }

  .price-box .price-info{
	font-size:1.6rem;
  }

  .price-box .price-info > div{
	  line-height: 1.4;
  }

 .price-service-anchor-box{
	 display:flex;
	 align-items: center;
	 justify-content: center;
	  position: absolute;
	  top:0;
	  left:0;
	  width: 100%;
	  height: 100%;
	  border-radius: 1rem;
	  opacity: 0;
	  transition: 0.3s;
}

.price-service-anchor-box:hover{
	opacity: 0.6;
}

.price-service-anchor{
	display:flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	  background-color: black;
	  color:white;
	  font-size:2.5rem;
	  text-align: center;
	  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  }

