.my-num-wrapper{
    border:1px solid var(--border-color);
    margin-top:10px;
}

.my-num-name-box{
    height:50px;
    background-color: lightgray;
    display:flex;
    align-items: center;
    padding-left:10px;
}

.my-num-box{
    height:100%;
    padding:10px;
}

.my-num-box > div{
    margin:5px;
    width:35px;
    height:35px;
    border-radius: 50%;
    background-color: var(--main-color);
    color:var(--default-color);
    display:inline-block;
    line-height: 2.2;
    text-align: center;
}