.inc-exc-num-wrapper-box{
  display:flex;
  justify-content: center;
}

.inc-exc-num-wrapper-box > div.inc-exc-num-wrapper:first-child{
  border-right: none;
}

.inc-exc-num-wrapper{
  width:50%;
}

.inc-exc-num-container{
width: 100%;
min-height: 5rem;
padding-top:1.2rem;
font-size:0px;
}

.inc-exc-num-title{
  display:flex;
  align-items: center;
  justify-content: center;
  height:4rem;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--table-title-color);
  font-size:1.6rem;
}

.inc-exc-num-box {
  display: inline-block;
  width: 10%;
  padding-bottom:1.2rem;
    font-size: 1.7rem;
  }

  
  .inc-exc-select-num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.8rem;
    height: 2.8rem;
    margin:0 auto;
    border-radius: 50%;
    color: var(--default-color);
    font-size:1.2rem;
    text-align: center;
  }

