.inc-exc-num-wrapper-box{
  display:flex;
  align-items: center;
  justify-content: center;
}

.inc-exc-num-wrapper{
  width:30rem;
}

.inc-exc-num-container{
width: 100%;
padding-top:1rem;
font-size:0px;
}

.inc-exc-num-title{
  display:flex;
  align-items: center;
  justify-content: center;
  height:5rem;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--table-title-color);
  font-size:1.6rem;
}

.inc-exc-num-box {
  display: inline-block;
  width: 20%;
  padding-bottom:1rem;
    font-size: 1.7rem;
  }

  
  .inc-exc-select-num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    margin:0 auto;
    border-radius: 50%;
    background-color: blue;
    color: var(--default-color);
    font-size:1.3rem;
    text-align: center;
  }

