.inc-exc-num-wrapper-box{
  display:flex;
  align-items: center;
  justify-content: center;
}

.inc-exc-num-wrapper{
  width:50%;
}

.inc-exc-num-container{
width: 100%;
font-size:0px;
}

.inc-exc-num-box {
    width: 100%;
    height:100%;
    font-size: 1.7rem;
    padding-top:1rem;
  }

.inc-exc-num-box{
    display: inline-block;
    width: 20%;
    padding-bottom:1rem;
  }
  
  .inc-exc-select-num {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    color: var(--default-color);
    background-color: blue;
    font-size:1.3rem;
    margin:0 auto;
  }

.inc-exc-num-title{
    height:5rem;
    background-color: var(--table-title-color);
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:2rem;
    border-bottom: 1px solid var(--border-color);
}