

/* main */

.search-container {
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding:2rem 0;
}

.search-box{
  display:flex;
  align-items: center;
  height:4rem;
}

.search-box > input,
.search-box > select {
  height: 4rem;;
  margin-right: 1rem;
}


.search-btn{
  width:6rem;
  height:4rem;
  background-color: var(--button-color1);
  color: var(--default-color);
  font-size:1.4rem;
}

.post-btn{
  display:flex;
  align-items: center;
  justify-content: center;
  width:7rem;
  height:4rem;
  background-color: var(--button-color2);
  color: var(--default-color);
  font-size:1.4rem;
}

/* board */

/* board-header */

.board-header {
  display: flex;
  height:5rem;
  border-top: 1px solid black;
  background-color: var(--box-color);
  font-size:1.5rem;
  font-weight: 500;
}

.board-header > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-title {
  flex: 4;
}

.board-author {
  flex: 2;
}

.board-date {
  flex: 2;
}

.board-views {
  flex: 1;
}

.board-reco {
  flex: 1;
}

/* board-section */

.board-section {
  display: flex;
  flex-direction: column;
  min-height: 25rem;
}

/* board-box */

.board-box {
  display: flex;
  height:5rem;
  border: 1px solid var(--border-color);
  font-size:1.4rem;
}

.board-box > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-num-container{
  display:flex;
  align-items: center;
  justify-content: center;
  height:10rem;
  font-size:1.2rem;
}

.page-num-container > div{
  display:flex;
  align-items: center;
  justify-content: center;
  width:3rem;
  height:3rem;
  margin-right:0.5rem;
  border:1px solid rgba(0,0,0,0.4);
  cursor: pointer;
  
}

.page-current{
  background-color: var(--main-color);
  color:var(--default-color);
}

.page-anchor{
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 2.4;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .search-btn{
    font-size:15px;
  }
  
  .post-btn{
    font-size:15px;
  }

  .board-header {
    font-size:15px;
    }
    
    .page-num-container{
      font-size:11px;
    }
  

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .search-btn{
    font-size:15px;
  }
  
  .post-btn{
    font-size:15px;
  }

  .board-header {
    font-size:15px;
    }
    
    .page-num-container{
      font-size:11px;
    }

}

@media (min-width: 0px) and (max-width: 767px) {

  .search-container {
    display:block;
    padding:0;
  }

  .search-box{
    padding:10px 0;
    display:flex;
  }

  .search-box > input,
.search-box > select {
  margin-right: 10px;
  height: 40px;
  flex:1;
}

.search-btn{
  flex:1;
}

.post-btn-box{
  display:flex;
  align-items: center;
  justify-content: center;
  padding:10px 0;
}

.board-title {
  flex: 4;
}

}


@media (min-width: 481px) and (max-width: 767px) {

   
}

@media (min-width: 0px) and  (max-width: 480px) {

  
  .board-title {
    flex: 4;
  }

  
}