

/* main */

.search-container {
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding:2rem 0;
}

.search-box{
  display:flex;
  align-items: center;
  height: 4rem;;
}

.search-box > input,
.search-box > select {
  height: 100%;
  margin-right: 1rem;
  font-size:1.4rem;
}

.search-box > input{
  width:20rem;
}

.search-box > select{
  width:8rem;
}

.search-btn{
  width:7rem;
  height: 100%;
  background-color: var(--button-color1);
  color: var(--default-color);
  font-size:1.4rem;
}

.post-btn{
  display:flex;
  align-items: center;
  justify-content: center;
  width:7rem;
  height:4rem;
  background-color: var(--button-color2);
  color: var(--default-color);
  font-size:1.4rem;
}

/* board */

/* board-header */

.board-header {
  display: flex;
  height:5rem;
  border-top: 1px solid black;
  border-bottom:1px solid var(--border-color);
  background-color: var(--box-color);
  font-weight: 500;
}

.board-header > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:1.6rem;
}

.board-title {
  flex: 4;
  word-break: keep-all;
  font-size:1.5rem;
}

.board-author {
  flex: 2;
  font-size:1.3rem;
}

.board-date {
  flex: 2;
  font-size:1.3rem;
}

.board-views {
  flex: 1;
  font-size:1.3rem;
}

.board-reco {
  flex: 1;
  font-size:1.3rem;
}

/* board-section */

.board-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

/* board-box */

.board-box {
  display: flex;
  height:6rem;
  border-bottom: 1px solid var(--border-color);
  text-align: center;
}

.board-box > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-num-container{
  display:flex;
  align-items: center;
  justify-content: center;
  height:10rem;
  font-size:1.2rem;
}

.page-num-container > div{
  display:flex;
  align-items: center;
  justify-content: center;
  width:3rem;
  height:3rem;
  margin-right:0.5rem;
  border:1px solid rgba(0,0,0,0.4);
  cursor: pointer;
  
}

.page-current{
  background-color: var(--main-color);
  color:var(--default-color);
}

.page-anchor{
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 2.4;
}


@media (min-width: 0px) and (max-width: 767px) {
  
  .search-box{
    height:3rem;
  }

  .search-box>select,
  .search-box>input{
    margin-right:0.5rem;
    font-size:1.2rem;
  }

  .search-box > select{
  width:5rem;
  }

  .search-box > input{
    width:13rem;
  }

  .search-btn{
    width:5rem;
    font-size:1.2rem;
  }

  .post-btn{
    width:5rem;
    height:3rem;
    font-size:1.2rem;
  }

.board-header{
  display:none;
}

.board-section > div:nth-child(1){
  border-top:1px solid var(--border-color);
}

.board-box{
  display:block;
  height:auto;
  text-align: initial;
}


.board-box >div.board-title{
  display:flex;
  align-items:center ;
  justify-content: flex-start;
  height:3.5rem;
  font-size:1.4rem;
}


.board-box > div:not(.board-title){
  display:inline-block;
  height:3rem;
  font-size:1.1rem;
}

.board-box > div:not(.board-title)::after{
  content: "|";
  margin: 0 1rem;
  color:var(--faint-color);
}

.board-box > div.board-views::before{
  content:"조회";
  margin-right:0.3rem;
}
.board-box > div.board-reco::before{
  content:"추천";
  margin-right:0.3rem;
}


}


