

.inc-exc-num-wrapper{
  width:50%;
}

.inc-exc-select-num {
  width: 2.8rem;
  height: 2.8rem;
  font-size:1.2rem;
}
    
.text-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:6rem;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.text-title > h1{
  padding-left: 1rem;
  font-size:1.8rem;
}

.text-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1rem 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.text-info > div{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}
.author-name > #author-name{
  font-size: 1.6rem;
}

.text-content{
  min-height:25rem;
}

.reco-btn{
  width: 4.6rem;
  height: 2.8rem;
  border-radius: 3px;
  background-color: #7d9eb9;
  color:white;
  font-weight: 600;
}
.recommend{
  background-color: #f5f518 ;
  color: #5a5a5a;
}


.author-time > span{
  font-size: 1.6rem;
  color: #5a5a5a;
}

.author-lookup{
  font-size: 1.5rem;
  font-family: 'Nanum Gothic';
}

.author-lookup-text-box{
  font-weight: 700;
}


.comment-list-title{
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  font-size: 1.7rem;
}

.comment-list-title >div >span{
  font-weight: bold;
}

.comment-write-text-box{
  height: 12rem;
  margin-bottom:3rem;
  padding: 1.5rem 1.5rem 4rem 1.5rem;
  border: 1px solid rgba(0,0,0,0.2);
}

.comment-container-box{
  padding-bottom:5rem;
}
.comment-container-box > .comment-container{
border-bottom: 1px solid rgba(0,0,0,0.2);
padding: 1rem;
font-size:1.3rem;
}

.comment-box{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.comment-title{
  display:flex;
  align-items: center;
  padding:0.8rem 0;
}

.comment-author{
  margin-right:0.3rem;
  font-weight: bold;
}

.comment-time{
  margin-top: 0.2rem;
  margin-left: 0.3rem;
  color:#999;
}

.comment-content{
  margin-top: 0.2rem;
  padding-left:2.3rem;
}

.comment-write-text{
  width:100%;
  height:100%;
  border: none;
  font-size:1.6rem;
  resize: none;
}

.comment-update-write-text{
  width:100%;
  height:6rem;
  padding:1rem;
  font-size:1.3rem;
  resize: none;
}


.char-count-container{
  display:flex;
  align-items: center;
  justify-content: flex-end;
}

.char-count-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 2.8rem;
  font-size: 1.4rem;
}
.comment-limit-alert{
  color: #ff2f2f;
  font-weight: bold;
}

.text-update-container{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  padding:1rem 0;
}


.read-btn{
  width: 4.6rem;
  height: 2.8rem;
  border-radius: 3px;
  background-color: #66c2ff;
  color:white;
  font-size: 1.4rem;
}

.comment-update-btn{
  width: 3.8rem;
  height: 2.4rem;
  margin-right:0.3rem;
  border-radius: 3px;
  background-color: #66c2ff;
  color:white;
  font-size: 1.2rem;
}


.heart {
  position: relative;
  width: 2rem;
  height: 2rem;
  animation: heartbeat 1s infinite;
  margin: 0 auto;
  margin-right: 0.5rem;
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 1rem;
  top: 0;
  width: 1.2rem;
  height: 1.8rem;
  background: #e47e90;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
@keyframes heartbeat {
  0% {
      transform: scale(.75);
  }
  20% {
      transform: scale(1);
  }
  40% {
      transform: scale(.75);
  }
  60% {
      transform: scale(1);
  }
  80% {
      transform: scale(.75);
  }
  100% {
      transform: scale(.75);
  }
}


@media (min-width: 0px) and (max-width: 767px) {

  .inc-exc-num-wrapper{
   width: 100%;    
   margin-bottom: 1rem; 
  }

.author-time > span{
    font-size: 1.3rem;
}

.author-name >#author-name{
  font-size: 1.3rem;
}

.author-lookup{
  font-size: 1.3rem;
}

  }


