.signup-terms-use-container{
    display:flex;
    justify-content:center;
    padding:5rem 0;
  }
  
  .signup-terms-use-box{
    width:50rem;
  }
  
  .signup-terms-use-all-check{
    display:flex;
    margin-bottom:3rem;
  }
  
  .signup-checkbox-container{
    margin-right:1rem;
  }

  .signup-terms-use-check-text{
    font-size:1.4rem;
  }
  
  .signup-terms-use-tab-box{
    margin-bottom:3rem;
  }
  
  .signup-terms-use-check-container{
    display:flex;
    margin-bottom:1rem;
  }
  
  .signup-terms-use-textarea{
    height:25rem;
    padding:1rem;
    border:1px solid rgba(0,0,0,0.1);
    font-size:1.3rem;
    overflow-y: scroll;
  }
  
  .signup-terms-use-btn-box{
    display:flex;
    justify-content: center;
  }
  
  .terms-use-btn{
    width:10rem;
    height:4.5rem;
    background-color: #09538e;
    color:white;
    font-size: 1.5rem;
  }