.find-form-wrapper{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 60rem;
}

.find-form-container{
  width: 70%;
  padding:3rem 5rem 3rem 5rem;
  box-shadow: 1px 2px 8px rgba(0,0,0,.1),-2px -1px 8px rgba(0,0,0,.1);
  border-radius: .75em;
}

.find-title-text{
  padding:0 4rem 2rem 0.5rem;
  font-size : 2.6rem;   
  font-weight: 700;
  font-family: 'Nanum-gothic';
  letter-spacing :-0.1rem;   
}

  .find-box{
    display:flex;
    width:100%;
    height:7rem;
    border-top:1px solid rgba(0,0,0,0.1);
  }

 .find-container .find-box:last-child{
    border-bottom:1px solid rgba(0,0,0,0.1);
}
  
  .find-title-box{
    display:flex;
    align-items: center;
    justify-content:center;
    width:25%;
    padding:1rem;
    border-right:1px solid rgba(0,0,0,0.1);
    background-color: rgb(245,245,245);
    font-size:1.6rem;
  }
  
  .find-title{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .find-input-box{
    display:flex;
    align-items: center;
    text-align: center;
    width:75%;
    padding:1rem;
  }
  
  .find-input-box > input{
    width:15rem;
    height:3.4rem;
  }
  
  .find-info-box{
    padding:1rem;
    font-size:1.4rem;
  }

  .find-btn-box{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top:2rem;
  }

  .find-btn {
    width:14rem;
    height: 4rem;
    background-color: #318eda;
    border-radius: 3px;
    color:white;
    font-size: 1.5rem;
  }

  .find-btn:hover{
    background-color: rgb(64, 150, 221)
  }


  .find-phone-box > select,
  .find-phone-box > input{
      height: 3.4rem;
  }

  .find-phone-box > select{
      width: 6rem;
  }

  .find-phone-box > input{
      width:12rem;
  }

  .dash{
      padding:0 1rem;
  }

  #find-id-result-container{
    list-style-type: disc;

  }

  .find-id-result-box{
    margin-left:2rem;
    font-size:1.4rem;
    text-align: left;
  }

  .find-id-result-info-text{
    padding:1rem 0 0 0.5rem;
    color:rgb(105, 105, 105);
    font-size:1.2rem;
  }