
.account-container-box {
    margin-bottom:5rem;
  }
  
  .account-container-box > div.account-box:last-child{
    border-bottom:1px solid var(--border-color);
  }
    
  .account-box{
    display:flex;
    width:100%;
    border-top:1px solid var(--border-color);
  }
  
  .account-title-box{
    display:flex;
    align-items: center;
    justify-content:center;
    width:25%;
    padding:1rem;
    border-right:1px solid var(--border-color);
    background-color: rgb(245,245,245);
    font-size:1.6rem;
  }
  
  .account-title{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .account-input-box{
    display:flex;
    align-items: center;
    text-align: center;
    width:75%;
    padding:1rem;
  }
  
  .account-input-box  input{
    width:15rem;
    height:3.4rem;
  }
  
  .account-info-box{
    padding:1rem;
    font-size:1.4rem;
  }
  
  .account-btn {
    width:14rem;
    height: 4rem;
    background-color: var(--main-color);
    color:var(--default-color);
    font-size: 1.5rem;
  }
  
  .account-btn-box{
    display:flex;
    align-items: center;
    justify-content: center;
    height:20rem;
  }
  
  .account-phone-box > select{
    width:6rem;
    height:3.4rem;
    font-size:1.2rem;
  }
  
  .account-phone-box > input{
    width:10rem;
    height:3.4rem;
  }
  
  .dash{
    padding:0.5rem;
  }
  