
.join-container-box {
    margin-bottom:5rem;
  }

  .join-box{
    display:flex;
    border-top:1px solid rgba(0, 0, 0, 0.1);
  }
  
  .join-container-box > div.join-box:last-child{
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
  }
  
  .join-title-box{
    display:flex;
    align-items: center;
    justify-content:center;
    width:25%;
    border-right:1px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(245,245,245);
    font-size:1.6rem;
    word-break: keep-all;
    text-align: center;
  }
  

  .join-input-box{
    display:flex;
    align-items: center;
    width:75%;
    padding:1rem 0 1rem 1rem;
  }
  
  .join-input-box  input{
    width:15rem;
    height:3.4rem;
  }
  
  .join-info-box{
    padding-left:1rem;
    font-size:1.4rem;
    word-break: keep-all;
  }

  .join-btn-box{
    display:flex;
    justify-content: center;
  }
  
  .join-btn {
    width:14rem;
    height: 4rem;
    background-color: #09538e;
    color:white;
    font-size: 1.5rem;
  }
  
  @media (min-width: 0px) and (max-width: 767px) {

    .join-input-box{
      display:block;
    }

    .join-info-box{
      padding:1rem 0;
    }
  }
  