.modify-btn{
    width:5rem;
    height:3.4rem;
    margin-left:1rem;
}

.modify-info-box{
    padding-left:0;
}

.modify-input-box{
    display:block;
    text-align: unset;
}

.modify-input-tab{
    display:flex;
    align-items: center;
    height:5rem;
}

form{
    display:flex;
    align-items: center;
}