#find-id-result-container{
    list-style-type: disc;
    color:#4c4c4c;
  }

  .find-id-result-box{
    margin-left:2rem;
    font-size:1.4rem;
    text-align: left;
  }

  .account-id-result-info-text{
    padding:1rem 0 0 0.5rem;
    color:rgb(105, 105, 105);
    font-size:1.2rem;
    text-align: center;
  }
