
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:5rem;
}

.login-box {
  box-shadow: 1px 2px 8px rgba(0,0,0,.1),-2px -1px 8px rgba(0,0,0,.1);
  border-radius: .75em;
  width: 35rem;
}

.login-title-text{
  height:12rem;
  font-size:2.2rem;
  font-weight: bold;
  font-family: 'Nanum-gothic';
  display:flex;
  align-items: center;
  justify-content:center;
  
}

.login-content-box{
  padding:0.5rem 3rem 2rem 3rem;
  display:flex;
  flex-direction: column;
}

.login-content-box > input {
  margin-bottom: 3rem;
  height: 4.5rem;
}

.login-btn {
  background-color: rgb(90, 90, 175);
  color: var(--default-color);
  height: 6rem;
  font-size:1.6rem;
}

.login-service {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8rem;
  font-size:1.4rem;
}

@media (min-width: 481px) and (max-width: 767px) {
  .signup-input-box > input{
    width:13rem;
  }
}

@media (min-width: 0px) and  (max-width: 480px) {
  .signup-input-box > input{
    width:9rem;
  }
}