.input-checkbox-container {
    width: 2.5rem;
    height: 2.5rem;
  }
  .input-checkbox-container >input {
    width: 100%;
    height: 100%;
  }

  @media (min-width: 0px) and (max-width: 767px) {

 .input-checkbox-container{
   width: 2rem;
   height: 2rem;
 }
    }