
/* footer */

/* top-footer */

.top-footer-container {
  height: 4rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.top-footer{
  display:flex;
  align-items: center;
  justify-content: center;
}

.top-footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-footer-list> li {
  margin: 0 1rem;
}

.top-footer-list > li>a {
  font-size: 1.4rem;
}

/* bottom-footer */


.bottom-footer-container{
  background-color: #F6F6F6;
  color:#5a5a5a;
}

.bottom-footer {
  display: flex;
  align-items:center;
  padding-top:1rem;
  padding-bottom: 1rem;

}

.bottom-footer > h1 {
  width:15rem;
  margin-right: 3rem;
  font-size:2.5rem;
  text-align: center;
}

.bottom-footer-content > p {
  font-size: 1.3rem;
  word-break: keep-all;
}

.bottom-footer-content > p:nth-child(1) {
  margin-bottom: 0.5rem;
  padding: 1rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom-footer-content > p:not(:nth-child(1)) {
  margin-bottom: 0.5rem;
}

@media (min-width:0px) and (max-width: 1024px) {
  .bottom-footer {
    display: block;
    text-align: center;
  }
  
  .bottom-footer > h1 {
    margin:0 auto;
    padding:1rem 0;
  }
  
  .bottom-footer-content > p > span{
    display:block;
  }
  }
  
  @media (min-width:0px) and (max-width: 1024px) and (orientation: landscape) {
    .bottom-footer {
      display: block;
      text-align: center;
    }
    
    .bottom-footer > h1 {
      margin:0 auto;
      padding:1rem 0;
    }
    
    .bottom-footer-content > p > span{
      display:block;
    }
    
  }


