
/* footer */

/* top-footer */

.top-footer-container {
  height: 40px;
  border-top: 1px solid var(--border-color);
}

.top-footer > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
}

.top-footer > ul > li {
  padding: 0 10px;
}

.top-footer > ul > li>a {
  font-size: 1.4rem;
}

/* mid-footer */

.mid-footer-container {
  height: 100px;
  border-top: 1px solid var(--border-color);
  background-color: #ececec;
}

.mid-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mid-footer > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.mid-footer > div > p {
  font-size:1.5rem; 
}

/* bottom-footer */

.bottom-footer {
  display: flex;
  align-items: center;
}

.bottom-footer > h1 {
  width:15rem;
  margin-right: 3rem;
  font-size:2.5rem;
  text-align: center;
}

.bottom-footer > div > p {
  font-size: 1.4rem;
}

.bottom-footer > div > p:nth-child(1) {
  margin-bottom: 10px;
  padding: 10px 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.bottom-footer > div > p:not(:nth-child(1)) {
  margin-bottom: 10px;
}

@media (min-width: 0px) and (max-width: 767px) {

.bottom-footer {
  display: block;
  text-align: center;
}

.bottom-footer > h1 {
  margin:0;
  padding:1rem 0;
}

}

