
  /* header */

/* mid-nav */

.mid-nav-container {
  position: relative;
  width:100%;
  height: 10rem;
  background-color: #09538e;
  color: white;
}

.mid-nav{
  display:flex;
  position: relative;
}

.mid-nav-mobile-box{
  display:flex;
  align-items: center;
}

.mid-nav-logo{
  margin-left: 3rem;
}

.mid-nav-logo > a{
  display:flex;
  align-items: center;
  justify-content: center;
}

.mid-nav-menu {
  position: absolute;
  top:0;
  left:18rem;
  display: flex;
  align-items: center;
  width:60%;
  height:100%;
}

.mid-nav-menu > li {
  flex:1;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mid-nav-menu > li > a {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  word-break: keep-all;
  font-size:2rem;
}

.mid-nav-info-box{
  display:flex;
  align-items: center;
  position: absolute;
  top:0;
  right:2.5rem;
  height: 100%;
}

.mid-nav-info-box > li:not(:first-child){
  margin-left:1.2rem;
}

.mid-nav-info-anchor{
  color:white;
  font-size:1.3rem;
}

.mid-nav-info-text{
  position: relative;
  padding-right: 2rem;
  cursor: pointer;
}

.mid-nav-info-anchor > i{
  position: absolute;
  top:5%;
  margin-left:0.4rem;
  font-size:1.6rem;
  cursor: pointer;
}

.mid-nav-info {
  display:flex;
  position: absolute;
  top:3.5rem;
  right:0;
  z-index: 98;
  width: 15rem;
  padding:0.5rem 0;
  border:1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0.4rem;
  background: white;
}

.mid-nav-info:after {
	content: '';
	position: absolute;
	top: 0;
  left:50%;
  z-index: -1;
	width: 0;
	height: 0;
	border: 1rem solid transparent;
	border-bottom-color: white;
	border-top: 0;
	margin-top: -0.9rem;
	margin-left: 5.4rem;
}

.mid-nav-info-list{
  width: 100%;
  color:#424242;
  text-align: center;
}

.mid-nav-info-list > li{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 3.1rem;
  font-size:1.4rem;
}

.bottom-nav-container {
  height: 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-nav-right{
  display:flex;
  align-items: center;
  font-size: 1.5rem;
  padding-right: 1rem;
}

.bottom-nav-right > a {
  margin-right: 0.5rem;
  font-size:1.4rem;
}

.seperator{
  margin-top: -0.1rem;
  padding:0 0.5rem;
  color:rgb(141, 141, 141);
  font-size:1.3rem;
}

.click-menu-container{
  position: absolute;
  top:100%;
  left:0;
  z-index:97;
  width: 100%;
  background-color: white;
}
.mobile-qna-header{
  border-bottom: 1px solid gray;
}
.mobile-qna-header, .click-menu-box{
  display:flex;
  overflow-x: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.mobile-qna-header::-webkit-scrollbar{
  display: none;
}
.click-menu-box::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.mobile-qna-header, .click-menu-box {
  -ms-overflow-style: none;
}

.mobile-qna-header > li, .click-menu-box > li{
  flex:0 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  height:5rem;
  word-break: keep-all;
}

.mobile-qna-header > li > a, .click-menu-box > li > a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size:1.4rem;
}

.hover-menu-container{
  display:flex;
  position: absolute;
  top:100%;
  left:0;
  z-index:97;
  width:100%;
  height: 20rem;
  border-bottom:2px solid #09538e;
  background-color:white;
}

.hover-menu-container >ul{
  flex:1;
  border-left:1px solid rgb(210,210,210);
}

.hover-menu-container >ul:last-child{
  border-right:1px solid rgb(210,210,210);
}

.hover-menu-container > ul > li{
  height:4rem;
}

.hover-menu-container > ul > li >a{
  display: inline-block;
  color:rgb(97, 97, 97);
  width: 100%;
  height: 100%;
  padding:1rem 0;
  font-size:1.3rem;
  text-align: center;
  word-break: keep-all;
  letter-spacing: -0.1rem;
}

@media (min-width: 0px) and (max-width: 767px) {
  #logo{
    margin-top: 1rem;
  }
  .mid-nav-container{
    height: auto;
  }
  .mid-nav.container{
    width: 100%;
    display:block;
  }
  .mid-nav-mobile-box{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 5.5rem;
    padding:0 0.7rem;
  }
  .mid-nav-logo{
    margin-left:0;
  }


  .mid-nav-menu{
    position: static;
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
  }
  .mid-nav-menu > li > a{
    color:black;
    font-size:1.6rem;
  }
  .mid-nav-info-box{
    position: static;
  }
  .mid-nav-info-box > li:not(:first-child){
    margin-left:1rem;
  }
  .bottom-nav-container {
    display:none;
  }
}