
  /* header */

/* mid-nav */

.mid-nav-container {
  position: relative;
  width:100%;
  height: 10rem;
  background-color: #09538e;
  color: white;
}

.mid-nav{
  display:flex;
  position: relative;
}

.mid-nav-logo{
  display:flex;
  align-items: center;
  height: 100%;
}

.mid-nav-logo > a{
  color:white;
  font-size:3rem;
}

.mid-nav-menu {
  position: absolute;
  top:0;
  left:22rem;
  display: flex;
  align-items: center;
  width:52%;
  height:100%;
}

.mid-nav-menu > li {
  flex:1;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mid-nav-menu > li > a {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  word-break: keep-all;
  font-size:2rem;
}

.mid-nav-info-box{
  display:flex;
  align-items: center;
  position: absolute;
  top:0;
  right:2rem;
  height: 100%;
}

.mid-nav-info-box > li:not(:first-child){
  margin-left:2rem;
}

.mid-nav-info-box > li > a{
  position: relative;
  color:white;
  font-size:1.3rem;
}

.mid-nav-info-text{
  position: relative;
  padding-right: 2rem;
  cursor: pointer;
}

.mid-nav-info-text > a > i{
  position: absolute;
  top:5%;
  left:100%;
  margin-left:0.4rem;
  font-size:1.6rem;
  cursor: pointer;
}

.mid-nav-info {
  display:flex;
  position: absolute;
  top:3.5rem;
  left:-9rem;
  z-index: 98;
  width: 15rem;
  padding:0.5rem 0;
  background: white;
  border:1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0.4rem;
}

.mid-nav-info:after {
	content: '';
	position: absolute;
	top: 0;
  left:50%;
  z-index: -1;
	width: 0;
	height: 0;
	border: 1rem solid transparent;
	border-bottom-color: white;
	border-top: 0;
	margin-left: 5rem;
	margin-top: -0.9rem;
}

.mid-nav-info-list{
  width: 100%;
  color:black;
  text-align: center;
}

.mid-nav-info-list > li{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}

.mid-nav-info-list > li > a{
  font-size:1.4rem;
}

.click-menu-container{
  position: absolute;
  top:100%;
  left:0;
  z-index:97;
  width: 100%;
  border-bottom:1px solid #09538e;
  background-color: white;
  color:black;
}

.click-menu-box{
  display:flex;
  overflow-x: scroll;
  white-space: nowrap;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.click-menu-box::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.click-menu-box {
  -ms-overflow-style: none;
}

.click-menu-box > li{
  flex:0 0 auto;
  width:10rem;
  height:5rem;
  font-size:1.3rem;
}

.click-menu-box > li > a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.click-menu-toggle{
  position: absolute;
  top:0;
  right:0;
  width:6rem;
  height:100%;
}

.hover-menu-container{
  display:flex;
  position: absolute;
  top:100%;
  left:0;
  z-index:97;
  width:100%;
  height: 12rem;
  border-bottom:1px solid #09538e;
  background-color:white;
}

.hover-menu-box-container{
  position: relative;
}

.hover-menu-box{
  display:flex;
  position: absolute;
  top:0;
  left:22rem;
  width: 52%;
}

.hover-menu-box >ul{
  flex:1;
  display:flex;
  flex-direction: column;
}

.hover-menu-box >ul{
  border-left:1px solid rgb(210,210,210);
}

.hover-menu-box >ul:last-child{
  border-right:1px solid rgb(210,210,210);
}

.hover-menu-box > ul > li{
  height:4rem;
}

.hover-menu-box > ul > li >a{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
  font-size:1.4rem;
  text-align: center;
  word-break: keep-all;

  }

/* bottom-nav */

.bottom-nav-container {
  height: 6rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-nav-left > ul {
  display: flex;
}

.bottom-nav-left > ul > li {
  padding: 0 1rem;
  font-size:1.3rem;
}

.bottom-nav-left > ul > li:nth-child(1) {
  background-color: red;
  color: white;
}

.bottom-nav-right > p {
  display: flex;
  font-size:1.6rem;
}


  @media (min-width: 0px) and (max-width: 767px) {


    .mid-nav.container{
      width: 100%;
      display:block;
    }

    .mid-nav-mobile-box{
      display:flex;
      align-items: center;
      justify-content: space-between;
      height: 50%;
      padding:0 3rem;
    }

    .mid-nav-logo > a{
      font-size:2.8rem;
    }

    .mid-nav-menu{
      position: static;
      width: 100%;
      height: 50%;
      background-color: white;
    }

    .mid-nav-menu > li > a{
      color:black;
      font-size:1.6rem;
    }

    .mid-nav-info-box{
      position: static;
    }

    .mid-nav-info-box > li:not(:first-child){
      margin-left:1rem;
    }

    .hover-menu-box.container{
      width:100%;
      margin:0;
    }

    .hover-menu-box >ul:first-child{
      display:none;
    }

    .hover-menu-box > ul >li{
      height:6rem;
    }

    .bottom-nav-container {
      display:none;
    }

    }

  
  