@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500|Nanum+Gothic&display=swap&subset=korean');
/* init css */

:root {
  --default-color: white;
  --main-color: #09538e;
  --table-title-color:#f6f6f6;
  --side-color: #1f71b3;
  --button-color1: #7d9eb9;
  --button-color2: #59758c;
  --button-color3:#66c2ff;
  --lotto-title-color: #a5484c;
  --box-color: #f8f9fb;
  --border-color: rgba(0, 0, 0, 0.1);
  --checkbox-color:#d7af0d;
  --faint-color:#999;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font: 400 10px 'Noto Sans KR','Nanum Gothic', sans-serif; 
}

body {
  width: 100%;
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

th{
  font-weight: 400;
}

h1,h2,h3 {
  font-weight: 500;
}

ul {
  list-style-type: none;
  margin:0;
  padding: 0;
}


input {
  padding:0 1rem;
  border: 1px solid rgb(190,190,190);
}

input:focus {
  border: 1px solid var(--main-color);
}

input[type="checkbox"]{
  cursor: pointer;
}


/* button */

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}


#wrapper {
  position: relative;
  width: 100%;
}

/* container */

.container {
  width: 960px;
  height: 100%;
  margin: 0 auto;
}

.box-color{
  border: 1px solid var(--border-color);
  background-color: var(--default-color);
}

.table{
  width:100%; 
  border-collapse: collapse;
}

.table th,
.table td{
  border:1px solid var(--border-color);
  
}

.loading-box{
  position: absolute;
  top:0;
  left:0;
  z-index:99;
  width:100%;
  height:100%;
}
.loading{
  display:flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background-color: rgba(145,145,145,0.3);
}
.loading div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 10rem;
  height: 10rem;
  border: 2rem solid #19598c;
  border-radius: 50%;
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #19598c transparent transparent transparent;
}
.loading div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.none{
  display:none !important; /*유의*/
}

.hide{
  visibility: hidden !important; /*유의*/
}

.swal2-popup {
  font-size: 1.3rem !important; /*유의*/
}

.swal2-footer a{
  color: #0400ff;
}

.nopointer{
  cursor: default !important; /*유의*/
}

.rank{
  display: inline-block;
  width: 1.8rem;
  height: 2rem;
  margin-right: 0.5rem;
  border-radius: 4px;
}

.rank-text{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:100%;
  font-weight: 500;
  font-size: 1.3rem;
}

@keyframes rank{
  0% {
      background-position: 0% 50%;
}
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.rank-first{
  animation: rank 3s ease-in infinite;
  color: rgb(153, 84, 195);
  background: linear-gradient(45deg, #f3cc00 10%,rgba(255,255,255,1) 56%, gold 90%);
  background-size: 200% 200%;
  border: 0.1rem solid #d387ff;
}

.rank-second{
  animation: rank 3s ease-in infinite;
  color: rgb(0, 173, 165);
  background: linear-gradient(45deg, rgb(136, 136, 136) 0%,rgb(243, 243, 243) 56%,rgba(149, 148, 148, 0.5) 96%);
  background-size: 200% 200%;
  border: 0.1rem solid #89b1ff;
}

.rank-third{
  animation: rank 3s ease-in infinite;
  color: rgb(187, 117, 47);
  background: linear-gradient(45deg, rgb(216, 141, 66) 3%,rgb(226, 226, 226) 56%,rgb(212, 138, 64) 95%);
  background-size: 200% 200%;
  border: 0.1rem solid #cebfb9;
}


.rank-fourth{
  color:rgb(112, 99, 97);
  background: linear-gradient(45deg,  rgba(127, 108, 104,1) 3%,rgb(209, 188, 184) 56%,rgb(112, 96, 92) 96%); 
}

.rank-fifth{
  color:rgb(98, 85, 82);
  background: linear-gradient(45deg,  rgb(104, 90, 88) 3%,rgb(143, 121, 117) 56%,rgb(107, 93, 91) 96%); 
}


@media (min-width: 768px) and (max-width: 1024px) {
html{
  font-size:8px;
}
  .container {
    width: 95%;
  }
  
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  html{
    font-size:8px;
  }
  .container {
    width: 95%;
  }
  
}

@media (min-width: 0px) and (max-width: 767px) {
  .container {
    width: 95%;
  }

  .rank{
    width:1.6rem;
    height:1.8rem;
    font-size:1.2rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  html{
    font-size:11px;
  }

}


