.selectbox-wrapper{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    margin-bottom: 1rem;
}

.selectbox-container{
    display:flex;
}

.selectbox-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 12rem;
    margin-right:0.5rem;
    font-size: 1.5rem;
    text-align: center;
}

.selectbox-text{
    display:flex;
    align-items: center;
    justify-content: center;
    width:3rem;
    font-size:1.7rem;
}

.selectr-selected{
    height:4rem;
}

.selectr-input-container.active .selectr-input-clear{
    display:none;
}

.selectr-input{
    width: calc(100%-1rem);
    height:4rem;
    margin:1rem 1rem;
    padding:1rem;
}

.selectr-options {
    max-height: 40rem;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.selectr-options::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

@media (min-width: 0px) and (max-width: 767px) {

    .selectr-selected{
        height: 3.5rem;
    }

    .selectbox-wrapper{
        display:block;
    }

    .selectbox-box{
        width:7rem;
        font-size:1.3rem;
    }
  }
  
