.selectbox-wrapper{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    margin-bottom: 1rem;
}

.selectbox-container{
    display:flex;
}

.selectbox-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 12rem;
    margin-right:0.5rem;
    font-size: 1.5rem;
    text-align: center;
}

.selectbox-text{
    display:flex;
    align-items: center;
    justify-content: center;
    width:3rem;
    font-size:1.7rem;
}


@media (min-width: 0px) and (max-width: 767px) {

    .selectbox-wrapper{
        display:block;
    }

    .selectbox-box{
        width:7rem;
        font-size:1.3rem;
    }
  }
  
