.num-list-select{
    height: 3rem;
    margin-left:2rem;
}

.line-gen-text-toggle-box{
    margin-bottom: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.line-gen-text-toggle{
    display:flex;
    align-items: center;
    height:5rem;
    padding-left:2rem;
    font-size:1.4rem;
}

.line-gen-text-toggle:hover{
    background-color: var(--table-title-color);
}

.line-gen-text-content{
    height:auto;
    padding:2rem;
    font-size: 1.4rem;
    line-height: 1.8;
    cursor: auto;
}

.code-block{
    display: block;
    padding: 8px;
    margin: 0 0 10px;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    background-color: #f9f9f9;
    color: #666;
    line-height: 1.45;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: visible;
}