.num-list-select{
    height: 3rem;
    margin-left:2rem;
}

.line-gen-text-toggle-box{
    margin-bottom: 1rem;
    font-weight: 500;
}

.line-gen-text-content{
    padding:2rem;
    font-size: 1.4rem;
    line-height: 1.8;
}