.num-list-select{
    height: 3rem;
    margin-left:2rem;
}

.line-gen-text-toggle-box{
    margin-bottom: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.line-gen-text-toggle{
    display:flex;
    align-items: center;
    height:5rem;
    padding-left:2rem;
    font-size:1.4rem;
}

.line-gen-text-toggle:hover{
    background-color: #f6f6f6;
}

.line-gen-text-content{
    height:auto;
    padding:2rem;
    font-size: 1.4rem;
    line-height: 1.8;
    cursor: auto;
}