
.func3-all-check-box-container{
  background-color: var(--table-title-color);
  height:6rem;
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-bottom:1px solid var(--border-color);
  margin-bottom: 1rem;
}

.func3-all-check-box-container > span:nth-of-type(1){
  width:6%;
  font-size:1.3rem;
  padding-left:0.5rem;
  border-right:1px solid rgba(0,0,0,0.2);
}

.func3-all-check-box{
  width:8%;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}

.func3-all-check-box > input{
  width:2rem;
  height:2rem;
}

.func3-num-list-select-box{
  width:9%;
  height:100%;
  display:flex;
  align-items: center;
}

.func3-num-list-select-box >span{
    display: flex;
    align-items: center;
    justify-content: center;
   
}


.func3-num-list-select-box >span:nth-child(1)
{
  width:40%;
  font-weight: 500;
}

.func3-num-list-select-box >span:nth-child(2)
{
  width:20%;
}

.func3-num-list-select-box >span:nth-child(3){
  width:40%;
font-weight: bold;
}

.func3-save-box-1{
  width:77%;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}

.save-btn{
  border-radius: 3px;
  margin-right:2rem;
  width:10rem;
  height:3.5rem;
  color:var(--default-color);
  font-size:1.4rem;
  background-color: var(--button-color2);
}

  
  .func3-save-box-2{
    background-color: var(--table-title-color);
    display:flex;
    align-items: center;
    justify-content: flex-end;
    border-top:1px solid var(--border-color);
    height:6rem;
  }