

.func3-filter-container-box-1{
  margin-bottom:1rem;
}

.func3-filter-container-box-2{
  margin-bottom:1rem;
}

.func3-filter-container-box-1 > div:last-child{
  border:none;
}

.func3-filter-container-box-1 > div:last-child > .func3-filter-title{
  border-bottom: none;
}

.func3-filter-container{
  display:flex;
  min-height:6rem;
}

.func3-filter-container > .func3-filter-title{
  border-bottom: 1px solid var(--border-color);
}

.func3-filter-title{
  display:flex;
  align-items: center;
  justify-content: center;
  width:30%;
  font-size:1.5rem;
  border-right:1px solid var(--border-color);
  background-color: var(--table-title-color);
}


.func3-filter-value-container{
  width:80%;
  border-bottom: 1px solid var(--border-color);
}
#excludedLineCount-text{
  display: flex;
  align-items: center;
  padding-top:0;
  padding-left:1rem;
}
.func3-filter-value-box {
  width: 100%;
  height:100%;
  font-size: 0px;
}
.func3-filter-container-box-1 > div:last-child >div:nth-child(2){
  border-bottom: none;
}

.func3-select-num-box{
  display: inline-block;
  position: relative;
  width: 10%;
  height:100%;
  
}

.func3-select-num {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.5rem;
  height: 3.5rem;
  margin:0 auto;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  background-color: blue;
  color: var(--default-color);
  font-size:1.3rem;
  text-align: center;
}

.func3-filter-table  tr:nth-child(1) >td{
  background-color: var(--table-title-color);
}

.func3-filter-table  tr >td{
  width: 11.11%;
  height: 5rem;
  font-size: 1.4rem;
  text-align: center;
}
.func3-filter-table  tr:nth-child(2) >td{
  padding: 1.5rem;
}
.func3-filter-table  tr:nth-child(2) >td:nth-child(1){
  font-size: 1.8rem;
}

.func3-make-btn-container{
  display:flex;
  align-items: center;
  justify-content: center;
  height:10rem;
}

/*function3 전용 로딩바*/
.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: #fffade;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

.func3-table-values{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 1rem;
  text-align: center;
}
.func3-table-piece{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #2e6307;
  color: white;
  font-size: 1.3rem;
}
.func3-table-sum{
  padding: 0.3rem;
  border: 2px solid #2e6307;
}

@media (min-width: 0px) and (max-width: 767px) {

  .func3-select-num-box{
    width:20%;
  }
}

 