
.func3-all-check-box-container{
  display:flex;
  align-items: center;
  justify-content: space-between;
  height:6rem;
  margin-bottom: 1rem;
  border-bottom:1px solid var(--border-color);
  background-color: var(--table-title-color);
}

.func3-all-check-box-left{
  display:flex;
  align-items: center;
}

.func3-all-check-box{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  padding:0 2rem 0 5rem;
}

.func3-all-check-text{
  font-size:1.4rem;
}

.func3-all-check-box > input{
  width:2rem;
  height:2rem;
}

.func3-save-box-1{
  display:flex;
  align-items: center;
  justify-content: flex-end;
}

.save-btn{
  width:10rem;
  height:3.5rem;
  margin-right:2rem;
  border-radius: 3px;
  background-color: var(--button-color2);
  color:var(--default-color);
  font-size:1.4rem;
}

  
  .func3-save-box-2{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    height:6rem;
    border-top:1px solid var(--border-color);
    background-color: var(--table-title-color);
  }

  @media (min-width: 0px) and (max-width: 767px) {

    .func3-all-check-box{
      padding-left:2rem;
      padding-right:1rem;
    }

    .save-btn{
      margin-right: 1rem;
    }

  }