    /* main */
  
  .filter-box-container-box {
    display: flex;
    align-items: center;
    height:10rem;
    margin:1rem 0;
  }

  .filter-box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width:40%;
  }
  
  .filter-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 4.5rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4), -1px -1px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
  
  .filter-box > span {
    font-size: 1.4rem;
  }
  
  .filter-box > i {
    position: absolute;
    top: 35%;
    right: 7%;
    font-size:1.4rem;
  }
  
  .filter-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
  }
  
  .filter-list > li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.2);
    font-size:1.4rem;
    transition: all 200ms;
  }
  
  .filter-list > li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  .filter-list-hover{
    background-color: #3da8e3;
    color:var(--default-color);
  }

  .steps{
    display:flex;
    align-items: center;
    justify-content: center;
    width:70%;
  }

  .steps span{
    font-size:1.3rem;
    text-align: center;
  }
  
  .past,.present,.future{
    display:flex;
    align-items: center;
    justify-content: center;
    width:10rem;
    height:4.5rem;
    margin:0 0.6rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.2);
    font-size:0.8rem;
  }
  .past{
    cursor: pointer;
  }
  
  .future{
    background: #ececec;
    color: #b3b3b3;
  }

  .present{
    background-color: #3da8e3;
    color: white;
  }

  .triangle{
    margin-left:0.7rem;
    border-top: 0.7rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 0.7rem solid transparent;
    border-left: 1rem solid #575755;
  }
  
  .next-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
  }
  
  .next-btn-container > button:not(:last-child) {
    margin-right: 1rem;
  }
  
  .circle-btn {
    width: 8rem;
    height: 4rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10rem;
    background-color: var(--default-color);
    font-size: 1.4rem;
    transition: 0.15s all ease-in-out;
  }
  
  .circle-btn:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
  }

  .showcase-container{
      display:flex;
      min-height: 8rem;
  }

  .chart-slide-current {
    border: 6px solid var(--lotto-title-color);
  }

  .checkbox-textbox{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:3rem;
    margin-bottom:1rem;
  }

  .checkbox-text{
    display:flex;
    align-items: center;
    width:100%;
    height:100%;
    font-size:1.4rem;
  }

  .que-container{
    z-index:3;
  }

  .que-container > i{
    color:var(--main-color);
    font-size:2.5rem;
    cursor: pointer;
  }

  .table-1{
    height:100%;

  }

  .table-1 th{
    background-color: var(--main-color);
    color:var(--default-color);
    font-size:0.8rem;
    word-break: keep-all;
  }

  .table-1 tr{
    height:3rem;
    text-align: center;
  }

  .table-1 td{
    font-size:1.3rem;
  }

  .table-2 tr{
    width:50%;
    height:33%;
    font-size:0.8rem;
    text-align: center;
    word-break: keep-all;
  }

  .table-2 tr td{
    width:50%;
  }

  .table-2 td{
    font-size:1.3rem;
  }

.auto-choose-container-box{
  display:flex;
  align-items: center;
  justify-content: space-between;
  height:4rem;
  margin-bottom:1rem;
}

.extract-num{
  display:flex;
  align-items: center;
  justify-content: flex-start;
  width:50%;
  height:100%;
  padding:0 1rem;
  font-size: 1.4rem;
}

.auto-choose-container{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  width:8rem;
  height:100%;
}

#main-counter{
  font-size: 2rem;
  font-weight: bold;
}
#sub-counter{
  margin-left: 1rem;
  color: #ff8c8c;
  font-size: 1.5rem;
  font-weight: 500;
}

@media (min-width: 0px) and (max-width: 767px) {
   
  .filter-box-container-box{
    display:block;
    height:auto;
  }

  .filter-box-container-box >div{
    width: 100%;
    padding:1rem 0;
  }

  .showcase-container{
    display:block;
  }

  .next-btn-container{
    width: 100%;
    padding: 1rem 0;
  }
}


  @media (min-width: 481px) and (max-width: 767px) {
   
  }
  
  @media (min-width: 0px) and (max-width: 480px) {
  

 
    
  }