.line-gen-toggle-btn-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.line-gen-round{
    display:flex;
    align-items: center;
    justify-content: center;
    width:10rem;
    height: 5rem;
    background-color: var(--main-color);
    color:var(--default-color);
    font-size:1.4rem;
    letter-spacing: 0.1rem;
}

.line-gen-toggle-btn{
    width:20rem;
    height:5rem;
    background-color: #bdc7d4;
    color:var(--default-color);
    font-size:1.5rem;
}

.line-gen-num-container{
    display:flex;
    height:5rem;
    margin-bottom:1rem;
}

.line-gen-num-table{
    width:83.3%;
    height:100%;
}

.line-gen-num-table tr td{
    width:16.6%;
    height:100%;
}

.line-gen-num-table tr td:nth-child(-n+5) label{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height:100%;
    background-color: var(--table-title-color);
    font-size:1.4rem;
    text-align: center;
}

.line-gen-num-input-container{
    display:flex;
    height:100%;
}

.line-gen-num-input-box{
    display:flex;
    align-items: center;
    justify-content: center;
    width:50%;
}

.line-gen-num-input-box > input{
    display: inline-block;
    width:100%;
    height:100%;
    border:1px solid var(--border-color);
    text-align: center;
}

.line-gen-stack-chart-container{
    display:flex;
    height:25rem;
    margin-bottom:1rem;
}

.line-gen-stack-chart-container > div:not(:last-child){
    margin-right:1rem;
}


.line-gen-stack-chart-box{
    width:25%;
    height:100%;
    padding:2rem;
}

.line-gen-stack-chart-box > canvas{
    width:100%;
    height:100%;
}

.line-gen-make-btn-box{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 16.6%;
    height:100%;
}

.make-btn{
    width:95%;
    height:100%;
    padding-bottom:0.5rem;
    border-radius: 5px;
    background-color: rgb(237, 59, 59,1);
    color:var(--default-color);
    font-size:1.8rem;
}


  
  .make-btn:hover{
    box-shadow: inset -3px -5px 0 rgba(0,0,0,0.2),inset 3px 1px 0 rgba(0,0,0,0.2);
    background-color: rgb(237, 59, 59,0.95);
    transition: ease-in-out all 0.15s;
  }
  
  .make-btn:active{
    box-shadow:none;
    transition: ease-in-out all 0.15s;
  }

  
@media (min-width: 0px) and (max-width: 767px) {
 .line-gen-num-container{
     display:block;
     height: auto;
 }

 .line-gen-num-table{
     width: 100%;
     margin-bottom:1rem;
 }

 .line-gen-make-btn-box{
     width: 100%;
     height: 5rem;
 }
  }
  