.line-gen-text-toggle-box{
    height:5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
    display:flex;
    align-items: center;
    padding-left:2rem;
    font-weight: 500;
    cursor: pointer;
}

.line-gen-text-toggle-box:hover{
    background-color: var(--table-title-color);
}

.line-gen-text{

    margin-bottom: 3rem;
    font-size: 1.4rem;
    line-height: 1.8;
    
}

.line-gen-text-content{
    padding:2rem;
    height:46rem;
}
