.arrow-box>h3{
    position: relative;
}

.arrow-box >h3> i{
    position: absolute;
    right:3rem;
    font-size:2rem;
}

.arrow-box >h3> i.fa-sort-up{
    top:1.5rem;
}
.arrow-box >h3> i.fa-sort-down{
    bottom:1.5rem;
}