.line-gen-text-toggle-box{
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 1rem;
}

.line-gen-text-toggle{
    height:5rem;
    display:flex;
    align-items: center;
    padding-left:2rem;
    font-size:1.4rem;
}



.line-gen-text-toggle:hover{
    background-color: var(--table-title-color);
}

.line-gen-text-content{
    cursor: auto;
    padding:2rem;
    height:46rem;
    font-size: 1.4rem;
    line-height: 1.8;
}

