/* section1 */

.section1 {
    background-color: var(--box-color);
  }
  
  /* grid-section-1 */
  
  .grid-section-1 {
    display:flex;
    padding-bottom: 20px;
  }
  
  /* aside */
  
  .aside {
    width:18%;
    padding-top: 100px;
    margin-right:20px;
  }
  
  .aside > div {
    background-color: var(--default-color);
    border: 1px solid var(--border-color);
  }
  
  .aside-top {
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    height:200px;
  }
  
  .aside-1-1 {
    height: 100%;
    background-color: var(--main-color);
    color: var(--default-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  /* main */
  
  .main {
    padding-top: 10px;
    width:82%;
  }
  
  
  .filter-box-container-box {
    height:100px;
    margin-bottom:10px;
    display: flex;
    align-items: center;
  }

  .filter-box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width:40%;
  }
  
  .filter-box {
    cursor: pointer;
    width: 200px;
    height: 45px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4), -1px -1px 1px rgba(0, 0, 0, 0.4);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .filter-box > a {
    font-size: 1.3rem;
  }
  
  .filter-box > i {
    position: absolute;
    top: 35%;
    right: 7%;
  }
  
  .filter-list {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
  }
  
  .filter-list > li {
    transition: all 200ms;
    height: 100%;
    background-color: var(--default-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.2);
  }
  
  .filter-list > li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  .filter-list-hover{
    background-color: #3da8e3;
    color:var(--default-color);
  }

  .steps{
    display:flex;
    align-items: center;
    justify-content: center;
    width:70%;
  }
  
  .past,.present,.future{
    margin-right:13px;
    font-size:0.8rem;
    width:110px;
    height:45px;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.2);
  }

  .present{
    background-color: #689F38;
    color:var(--default-color);
  }

  .triangle{
    margin-right:5px;
    border-top: 7px solid transparent;
border-right: 10px solid transparent;
border-bottom: 7px solid transparent;
border-left: 10px solid #575755;
  }
  
  .next-btn-container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .next-btn-container > button {
    margin-right: 10px;
  }
  
  .circle-btn {
    border-radius: 100px;
    background-color: var(--default-color);
    width: 80px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    transition: 0.15s all ease-in-out;
    font-size: 0.9rem;
  }
  
  .circle-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  }

  .showcase-container{
      display:flex;
      height:100px;
  }

  .chart-slide-current {
    background-color: var(--default-color) !important;
    border: 6px solid var(--lotto-title-color);
  }
  
  .none{
    display:none !important;
  }

  .hide{
    visibility: hidden;
  }


  .slow{
    transition: all 1s;
  }

  .nopointer{
    cursor: default !important;
  }

  .loading{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:2;
    background-color: rgba(145,145,145,0.3);
    box-shadow: 10px 0px 1px 1px rgba(0, 0, 0, 0.4) inset, -10px -10px -1px -1px rgba(0, 0, 0, 0.4) ;
  }

  .loading-icon{
    margin-top:225px;
    width:100%;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .loading-icon > i{
    font-size:6rem;
    color:#882525;
  }

  .spin{
    animation: spin 3s linear;
    animation-iteration-count: infinite;
  }

  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  .checkbox-textbox{
    height:20px;
    margin-bottom:10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
  }

  .checkbox-text{
    height:100%;
  }

  .checkbox-alert{
    color:#d82828;
    font-weight: 500;
  }
  
  .que-container{
    z-index:1;
  }

  .que-container > i{
    font-size:1.5rem;
    color:var(--main-color);
  }

  .que-modal{
    position: absolute;
    top:0;
    left:0;
    background-color: var(--default-color);
    border:1px solid rgba(0, 0, 0, 0.4);
  }

  .que-cancel{
    height:20px;
    position: relative;
  }

  .que-cancel > i{
    position: absolute;
    top:4%;
    left:1%;
    font-size:1.3rem;
    color:rgb(140, 140, 140);
  }

  .que-text{
    padding-left: 25px;
    height:150px;
    font-size:0.9rem;
  }
  .que-text ul{
    list-style-type: disc;
  }
  .que-text ul > li{
    padding-bottom: 5px;
  }
  
  .table-1{
    width:100%;
    height:100%;
  }

  .table-1 th{
    word-break: keep-all;
    font-size:0.8rem;
    background-color: var(--main-color);
    color:var(--default-color);
  }

  .table-1 tr{
    text-align: center;
    height:30px;
  }

  
  .table-2 tr{
    word-break: keep-all;
    font-size:0.8rem;
    text-align: center;
    width:50%;
    height:33%;
  }

  .table-2 tr td{
    width:50%;
  }

  
.auto-choose-container-box{
  height:40px;
  margin-bottom:10px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.extract-num{
  width:58%;
  height:100%;
  padding-left:5px;
  display:flex;
  align-items: center;
  justify-content: flex-start;
}

.auto-choose-container{
  width:15%;
  height:70px;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}