/* init css */

@import url('https://fonts.googleapis.com/css?family=Roboto|Nanum+Gothic&display=swap');

:root{
    --default-color:white;
    --main-color:rgb(73,73,234);
    --title-color:#a5484c;
    --lotto-color:rgba(231, 76, 60, 0.2);
    --footer-color:#003d33;
    --border-color:rgba(0,0,0,0.3);
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Roboto','Nanum Gothic', sans-serif;
}

a{
    text-decoration: none;
    color:black;
}

h1{
    font-weight: normal;
}

ul{
    padding:0;
    list-style-type: none;
}

/* container */

#wrapper{
    width:100%;
}

.container{
    margin: 0 auto;
    width:1200px;
    height:100%;
}

/* button */

.btn{
    cursor: pointer;
    border:none;
    outline: none;
}

/* header */

#header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:80px;
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0px 2px 6px 0px var(--border-color);
    z-index:1;
    background-color: var(--default-color);
    transition: ease all 0.15s;
}

.header-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo{  
    display:flex;
    align-items: center;
    justify-content:left;
    height:100%;
    padding-left:10px;
}

.logo > a >h1{
    transition: ease all 0.15s;
}

.header-menu{
    height:100%;
}

.header-menu > ul{
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.header-menu > ul > li:nth-child(1){
    padding: 0 40px 0 0;
}

.header-menu > ul > li:nth-child(2){
    padding: 0 20px 0 0;
}

.login-btn{
    width:95px;
    height:35px;
    border-radius: 4px;
    font-size:0.9rem ;
    color:var(--default-color);
    background-color: var(--main-color);
}

.login-btn:hover{
   opacity: 0.9;
   box-shadow: 1px 1px 1px 0 var(--border-color), -1px -1px 1px 0 var(--border-color);
}

/* section */

.section{
    margin-top:80px;
    padding-bottom:50px;
}

.grid {
    display: grid;
    width: 75rem;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
  }

  /* left-section */

  .grid .col-1 {
      grid-column: 1/5;
      display:grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows:  700px 100px;
      padding-top:100px;
  }

  /* title */

  .lotto-title{
    /* grid-column: 1/ span 13; */
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--title-color);
    color:var(--default-color);
    /* border-radius: 7px 7px 0 0 ; */
}

/* lotto box */
  
.lotto-box{
    grid-column: 1/span 13;
    border:1px solid var(--border-color);
    /* border-radius: 7px;   */
    display:grid;
    grid-template-rows: 75px repeat(7,1fr);
    grid-row-gap: 20px;
    font-size: 1.3rem;
    font-weight: bold;
}

.lotto-box > div{
    display:flex;
    grid-column: 1/span 13;
}

.lotto-box > div > div{
    cursor: pointer;
    border-radius: 5px;
    border-top: 2px solid rgba(51, 56, 55, 0.281);
    border-bottom:2px solid rgba(51, 56, 55, 0.281);
    color:var(--default-color);
    width:30px;
    height:50px;
    margin-left:0.7rem;
    margin-right:0.7rem;
    text-align: center;
    line-height: 2.8rem;
    background-color:var(--lotto-color);
    /*0.2~0.65*/

}

/* lotto box button */

.lotto-btn-container{
    grid-column: 1/span 13;
    display:flex;
    align-items: center;
    justify-content: center;
}

.lotto-btn-container > button{
    margin-right:10px;
}

.lotto-btn{
    border: 1px solid var(--border-color);
    background-color: var(--default-color);
    width:90px;
    height:33px;
    border-radius: 20px;
    font-size:0.9rem;
}

.lotto-btn:hover{
    box-shadow: 2px 1px 4px 0 var(--border-color), -1px 1px 4px 0 var(--border-color);
}

  /* right-section */

  .grid .col-2 {
    grid-column:5/ span 8;
    display:grid;
    grid-template-rows: 300px 370px;
    grid-template-columns: repeat(12, 1fr);
    padding-top:100px;
    grid-row-gap:30px;
    
}

/* chart */

.chart-container{
    grid-column: 1/span 13;
    border:1px solid var(--border-color);
    border-radius: 7px;  
}

#myChart{
    width:100%;
    height:100%;
    padding:20px;
}

/* filter */

.filter-container{
grid-column: 1/span 13;
border:1px solid var(--border-color);
border-radius: 7px;
}

/* footer */

#footer{
    color:var(--default-color);
    width: 100%;
    height:30vh;
}

.footer-top{
    border-top: 1px solid var(--border-color);
    background-color: var(--default-color);
    height:10vh;
}

.footer-menu{
    height:100%;
}

.footer-menu > ul{
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.footer-menu > ul >li{
    padding:0 50px 0 0;
}

.footer-bottom{
    width: 100%;
    height:20vh;
    background-color: var(--footer-color);
}

.footer-bottom .logo a{
    color:var(--default-color);
}

.footer-bottom-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.footer-info > p {
    font-size:0.9rem;
    padding: 5px 0;
    opacity: 0.7;
}

.footer-sns{
    font-size:3rem;
}

.footer-sns > i{
    padding: 0 10px 0 0;
}

.footer-sns > i:hover{
    cursor: pointer;
    opacity:0.8;
}

