@import url('https://fonts.googleapis.com/css?family=Roboto|Nanum+Gothic&display=swap');

/* init css */

:root {
  --default-color: white;
  --main-color: #489AD8;
  --lotto-title-color: #a5484c;
  --lotto-num-color: rgba(231, 76, 60, 0.2);
  --box-color: #f8f9fb;
  --border-color: rgba(0, 0, 0, 0.1);
  --checkbox-color:#d7af0d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Nanum Gothic', sans-serif;
}

html{
  font-size:10px;
}

body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-weight: normal;
}

ul {
  padding: 0;
  margin:0;
  list-style-type: none;
}

input,
select {
  border: 1px solid var(--border-color);
  padding: 1rem 0px 1rem 1rem;
  outline: none;
}

input:focus,
select:focus {
  border: 1px solid var(--main-color);
}

/* button */

.btn {
  cursor: pointer;
  border: none;
  outline: none;
}


#wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

/* container */

.container {
  margin: 0 auto;
  width: 960px;
  height: 100%;
}

.box-color{
  background-color: var(--default-color);
  border: 1px solid var(--border-color);
}

.table{
  width:100%; 
  border-collapse: collapse;
}

.table,
.table th,
.table td{
  border:1px solid rgba(0, 0, 0, 0.4);
}

.loading{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:2;
  background-color: rgba(145,145,145,0.3);
  box-shadow: 10px 0px 1px 1px rgba(0, 0, 0, 0.4) inset, -10px -10px -1px -1px rgba(0, 0, 0, 0.4) ;
}

.loading-icon{
  width:100%;
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}

.loading-icon > i{
  font-size:6rem;
  color:#882525;
}

.spin{
  animation: spin 3s linear;
  animation-iteration-count: infinite;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.none{
  display:none !important;
}

.hide{
  visibility: hidden;
}

.square-btn {
  background-color: var(--main-color);
  color: var(--default-color);
  width: 100%;
  font-size: 1rem;
}

@media (min-width: 768px) and (max-width: 1024px) {

  html{
    font-size:8px;
  }

  .container {
    width: 700px;
  }
  
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  html{
    font-size:8px;
  }
  .container {
    width: 700px;
  }
  
}
@media (min-width: 481px) and (max-width: 767px) {
  html{
    font-size:10px;
  }
  .container {
    width: 400px;
  }
  
}

@media (min-width: 0px) and (max-width: 480px) {
  html{
    font-size:10px;
  }

  .container {
    width: 320px;
  }
  
}