/* init css */

@import url('https://fonts.googleapis.com/css?family=Roboto|Nanum+Gothic&display=swap');

:root {
  --default-color: white;
  --main-color: rgb(91, 81, 253);
  --lotto-title-color: #a5484c;
  --lotto-num-color: rgba(231, 76, 60, 0.2);
  --box-color: #f8f9fb;
  --footer-color: #003d33;
  --border-color: rgba(0, 0, 0, 0.1);
  --checkbox-color:#d7af0d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Nanum Gothic', sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-weight: normal;
}

ul {
  padding: 0;
  list-style-type: none;
}

input,
select {
  border: 1px solid var(--border-color);
  padding: 10px 0px 10px 10px;
  outline: none;
}

input:focus,
select:focus {
  border: 1px solid var(--main-color);
}

/* button */

.btn {
  cursor: pointer;
  border: none;
  outline: none;
}

.submit-btn {
  background-color: var(--main-color);
  color: var(--default-color);
  width: 80px;
  height: 40px;
  font-size: 1rem;
}

/* container */

#wrapper {
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 960px;
  height: 100%;
}
