@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500|Nanum+Gothic&display=swap&subset=korean');
/* init css */

:root {
  --default-color: white;
  --main-color: #1f71b3;
  --table-title-color:#f6f6f6;
  --side-color: #4086be;
  --button-color1: #7d9eb9;
  --button-color2: #59758c;
  --button-color3:#66c2ff;
  --lotto-title-color: #a5484c;
  --box-color: #f8f9fb;
  --border-color: rgba(0, 0, 0, 0.1);
  --checkbox-color:#d7af0d;
  --faint-color:#999;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-weight: 400;
  font-size:10px;
  font-family: 'Noto Sans KR','Nanum Gothic', sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

th{
  font-weight: 400;
}

h1,h2,h3 {
  font-weight: 500;
}

ul {
  padding: 0;
  margin:0;
  list-style-type: none;
}


input,
select {
  border: 1px solid rgb(190,190,190);
  padding:0 1rem;
}

input:focus,
select:focus {
  border: 1px solid var(--main-color);
}

/* button */

.btn {
  cursor: pointer;
  border: none;
  outline: none;
}


#wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

/* container */

.container {
  margin: 0 auto;
  width: 960px;
  height: 100%;
}

.box-color{
  background-color: var(--default-color);
  border: 1px solid var(--border-color);
}

.table{
  width:100%; 
  border-collapse: collapse;
}

.table,
.table th,
.table td{
  border:1px solid var(--border-color);
}

.loading-box{
  background-color: rgba(145,145,145,0.3);
  position: absolute;
  top:0;
  left:0;
  z-index:99;
  width:100%;
  height:100%;
}
.loading{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}
.loading div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 10rem;
  height: 10rem;
  border: 2rem solid #19598c;
  border-radius: 50%;
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #19598c transparent transparent transparent;
}
.loading div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.none{
  display:none !important; /*유의*/
}

.hide{
  visibility: hidden !important; /*유의*/
}

.swal2-popup {
  font-size: 1.3rem !important; /*유의*/
}

.swal2-footer a{
  color: #0400ff;
}


.bold{
  font-weight:500;
}



@media (min-width: 0px) and (max-width: 1024px) {
  html{
    font-size:8px;
  }
}

@media (min-width: 0px) and (max-width: 1024px) and (orientation: landscape) {
  html{
    font-size:8px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  .container {
    width: 700px;
  }
  
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .container {
    width: 700px;
  }
  
}
@media (min-width: 481px) and (max-width: 767px) {

  .container {
    width: 400px;
  }
  
}

@media (min-width: 0px) and (max-width: 480px) {

  .container {
    width: 320px;
  }
  
}

