

/* main */

.search-box {
  height:100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box > input,
.search-box > select {
  margin-right: 10px;
  height: 40px;
}

/* board */

/* board-header */

.board-header {
  height:50px;
  border-top: 1px solid black;
  background-color: var(--box-color);
  display: flex;
  font-weight: bold;
}

.board-header > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-num {
  flex: 1;
}

.board-title {
  flex: 6;
}

.board-author {
  flex: 1;
}

.board-date {
  flex: 2;
}

.board-views {
  flex: 1;
}

/* board-section */

.board-section {
  
  display: flex;
  flex-direction: column;
}

/* board-box */

.board-box {
  height:50px;
  display: flex;
  border: 1px solid var(--border-color);
}

.board-box > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-num-container{
  height:100px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.page-num-container > div{
  cursor: pointer;
  margin-right:5px;
  border:1px solid rgba(0,0,0,0.4);
  width:30px;
  height:30px;
  font-size:0.75rem;
  display:flex;
  align-items: center;
  justify-content: center;
  
}

.page-current{
  background-color: var(--main-color);
  color:var(--default-color);
}

.search-btn{
  width:60px;
  height:40px;
}

.post-btn{
  margin-left:351px;
  width:70px;
  height:40px;
  background-color: var(--main-color);
  color:var(--default-color);
  display:flex;
  align-items: center;
  justify-content: center;
}