.func3-num-box{
  width:100%;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
}

.func3-num-box > div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.func3-num-box > div{
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--default-color);
  width: 2.5rem;
  height: 2.5rem;
  margin: 1.3rem;
  line-height: 1.7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.mypage-title{
  font-size:1.5rem;
  height:5rem;
  display:flex;
  align-items: center;
  padding-left:2rem;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  font-weight: 500;
  background-color: var(--table-title-color);
}

.mypage-content-box{
  height:80%;
}

.mypage-info-box{
  padding: 2rem;
  height: 20rem;
}

.mypage-info-box > li{
font-size: 1.4rem;
height:25%;
display: flex;
align-items: center;

}

.mypage-nickname,
.mypage-service{
  justify-content: space-between;
}


.service-update-btn{
  width: 4rem;
  height:2.5rem;
  background-color: var(--default-color);
  color:black;
  border: 1px solid var(--border-color);

}

.mypage-win-num{
  display: flex;
  justify-content: center;
  padding:0 1rem;
}

.mypage-win-num > div{
  width: 2.5rem;
  height: 2.5rem;
  background-color: blue;
  margin-right: 1rem;
  border-radius: 50%;
  color: var(--default-color);
  display: flex;
  align-items: center;
  justify-content: center;
}


.mypage-notice-box > i{
  cursor: pointer;
  position: relative;
  font-size:3rem;
  color: var(--main-color);
}

.mypage-notice-box > i:hover{
  animation: swing 0.6s ease;
}

@keyframes swing
{
    0% { transform:rotateZ(0); }
    25%{ transform:rotateZ(25deg); }
    50%{ transform:rotateZ(-15deg); }
    75%{ transform:rotateZ(10deg); }
    100%{ transform:rotateZ(0); }
}

.mypage-notice-num{
  background-color: var(--main-color);
  color:var(--default-color);
  border:2px solid var(--default-color);
  border-radius: 0.7rem;
  position: absolute;
  top:0;
  right:-1rem;
  width:2.5rem;
  padding:0.1rem;
  font-size:1.2rem;
}

.rank{
  margin: 0 0.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
}

.rank-first{
  animation: rank 3s ease-in infinite;
  color: rgb(218,165,32);
    background: linear-gradient(45deg,  rgb(208, 255, 0) 10%,rgba(255,255,255,1) 56%,rgb(208, 255, 0) 90%);
    background-size: 200% 200%;
}


@keyframes rank{
	0% {
		background-position: 0% 50%;
  }
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  


.rank-second{
  animation: rank 3s ease-in infinite;
  color: rgb(133, 133, 133);
  background: linear-gradient(45deg, rgb(136, 136, 136)  0%,rgb(243, 243, 243) 56%,rgba(149, 148, 148, 0.5) 96%);
  background-size: 200% 200%;
}

.rank-third{
  
  color:rgb(205, 127, 50);
  background: linear-gradient(45deg,  rgb(216, 141, 66) 3%,rgba(255,255,255,1) 56%,rgb(212, 138, 64) 95%);
}


.rank-fourth{
  color:rgb(112, 99, 97);
  background: linear-gradient(45deg,  rgba(127, 108, 104,1) 3%,rgb(209, 188, 184) 56%,rgb(112, 96, 92) 96%); 
}

.rank-fifth{
  color:rgb(98, 85, 82);
  background: linear-gradient(45deg,  rgb(104, 90, 88) 3%,rgb(143, 121, 117) 56%,rgb(107, 93, 91) 96%); 
}