/* section1 */
.section1 {
  background-color: var(--box-color);
}

/* grid-section-1 */

.grid-section-1 {
  display:flex;
  padding-bottom: 20px;
}

.main {
  width:82%;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.aside div {
  border: 1px solid var(--border-color);
}

.main-top > div >div {
  background-color: var(--default-color);
  border: 1px solid var(--border-color);
}

.main-bottom div {
  border: 1px solid var(--border-color);
}

/* aside */

.aside {
  width:18%;
  padding-top: 100px;
  margin-right:20px;
  
}

.aside-top {
  height:200px;
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}

.aside-1-1 {
  height: 100%;
  background-color: var(--main-color);
  color: var(--default-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside-bottom {
  height:800px;
  
}

/* main */

.main {

  padding-top: 10px;
}

/* main-top */
.main-top {
  height:800px;
  padding-top: 10px;
}

.top-1-1{
  height:200px;
  display:flex;
  margin-bottom:10px;
}

.top-1-1 >div{
  width: 50%;
}

.top-1-1-1{
  margin-right:10px;
}

.top-1-2{
  display:flex;
}

.top-1-2-1{
  height:412px;
  width:50%;
  margin-right:10px;
}

.top-1-2-2{
  width:50%;
}

.top-1-2-2 >div{
  height:200px;
}

.top-1-2-2 >div:nth-child(1){
  margin-bottom: 10px;;
}

