
/* main */

/* main-top */
.mypage-main {
  height:400px;
  padding-top: 10px;
}

.mypage-box-1{
  height:200px;
  display:flex;
  margin-bottom:30px;
}

.mypage-box-1 >div{
  width: 50%;
}

.mypage-info-container-box{
  margin-right:10px;
  position: relative;
}

.info-change-btn{
  position: absolute;
  top:50%;
  right:5%;
  width:100px;
  height:40px;
  background-color: var(--main-color);
  color:var(--default-color);
  padding:3px;
}

.mypage-title{
  height:40px;
  display:flex;
  align-items: center;
  padding-left:20px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  font-weight: bold;
  background-color: var(--main-color);
  color:var(--default-color)
}

.mypage-info-greetings{
  height:50px;
  display:flex;
  align-items: center;
  padding-left:30px;
}

.mypage-info-box{
  height:110px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.mypage-info-box > div{
  padding-left:30px;
  flex:1;
  font-size:0.9rem;
}

.mypage-lotto-service-container{
  height:160px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.mypage-lotto-service-container> button:nth-child(1){
  margin-right:10px;
}

.lotto-service-btn{
  font-size:0.9rem;
  width:90px;
  height:40px;
  background-color: var(--lotto-title-color) !important;
}

.mypage-num-table{
  width:100%;
}

.mypage-num-table tr{
  height:60px;
}

.mypage-num-table tr:nth-child(1){
  background-color: lightgray;
}

.mypage-num-table  td{
  text-align: center;
}

.num-list > div{
  margin-right:20px;
  width:35px;
  height:35px;
  border-radius: 50%;
  display:inline-block;
  line-height: 2.2;
  background-color: var(--main-color);
  color:var(--default-color);
}