.my-num-wrapper{
    border:1px solid var(--border-color);
    margin-top:1rem;
}

.my-num-name-box{
    height:5rem;
    background-color: lightgray;
    display:flex;
    align-items: center;
    padding-left:1rem;
}

.my-num-box{
    height:100%;
    padding:1rem;
}

.my-num-box > div{
    margin:0.5rem;
    width:3.5rem;
    height:3.5rem;
    border-radius: 50%;
    background-color: var(--main-color);
    color:var(--default-color);
    display:inline-block;
    line-height: 2.2;
    text-align: center;
}