.num-table-box{
    margin-bottom:1rem;
  }
  
  .num-table{
    padding:1rem 0;
    width:100%;
  }
  
  .num-table tr,
  .num-table th{
    padding:0 0.5rem;
  }

  .num-table th{
    font-size:1.5rem;
  }
  
  .num-table tr{
    height:6rem;
  }
  
  .num-table tr:nth-child(1){
    background-color: var(--table-title-color);
  }
  
  .num-table td{
    font-size:1.4rem;
    text-align: center;
  }

  .num-list{
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
  .num-list > div{
    margin:1rem;
    width:3.5rem;
    height:3.5rem;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color:var(--default-color);
  }