/* grid-section-1 */

.grid-section-1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 20px;
  grid-gap: 30px;
}

.aside div {
  border: 1px solid var(--border-color);
}

/* aside */

.aside {
  grid-column: 1/4;
  padding-top: 100px;
}

.aside-top {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 100px);
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}

.aside-1-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
}

.aside-1-1 > a,
.aside-1-2 > a {
  line-height: 6rem;
  text-align: center;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.aside-1-1 > a {
  color: var(--default-color);
}

.aside-1-2 {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside-bottom {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px repeat(3, 200px);
}

/* main */

.main {
  grid-column: 4/13;
  display: grid;
  grid-template-rows: 100px 200px 100px 700px;
}

.main-1-1 {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 1px solid black;
}

.main-1-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}

.main-1-2 > h2 {
  padding-bottom: 10px;
  font-size: 2.5rem;
}

.main-1-3 {
  display: flex;
  align-items: center;
}

.main-1-3 > input,
.main-1-3 > select {
  margin-right: 10px;
  height: 40px;
}

/* board */

.main-1-4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 500px 100px;
}

/* board-header */

.board-header {
  border-top: 1px solid black;
  background-color: var(--box-color);
  display: flex;
  font-weight: bold;
}

.board-header > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-num {
  flex: 1;
}

.board-title {
  flex: 6;
}

.board-author {
  flex: 1;
}

.board-date {
  flex: 2;
}

.board-views {
  flex: 1;
}

/* board-section */

.board-section {
  display: flex;
  flex-direction: column;
}

/* board-box */

.board-box {
  flex: 1;
  display: flex;
  border: 1px solid var(--border-color);
}

.board-box > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
