/* grid-section-1 */

.grid-section-1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 20px;
  grid-gap: 30px;
}

.aside div {
  border: 1px solid var(--border-color);
}

/* aside */

.aside {
  grid-column: 1/4;
  padding-top: 100px;
}

.aside-top {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 100px);
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}

.aside-1-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside-1-1 > a,
.aside-1-2 > a {
  line-height: 6rem;
  text-align: center;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.aside-1-2 > a {
  color: var(--default-color);
}

.aside-1-2 {
  cursor: pointer;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside-bottom {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px repeat(3, 200px);
}

/* main */

.main {
  grid-column: 4/13;
  display: grid;
  grid-template-rows: 200px 400px 100px;
}

.main-1-1 {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 1px solid black;
}

.main-1-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-1-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
