/* grid-section-1 */

.grid-section-1 {
  display: flex;
  
  margin-bottom: 20px;
  grid-gap: 30px;
}

.aside div {
  border: 1px solid var(--border-color);
}

/* aside */

.aside {
  width:18%;
  padding-top: 100px;
  margin-right:20px;
}

.aside-top {
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}

.aside-1-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside-1-1 > a,
.aside-1-2 > a {
  line-height: 6rem;
  text-align: center;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.aside-1-2 > a {
  color: var(--default-color);
}

.aside-1-2 {
  cursor: pointer;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}



/* main */

.main {
  width:82%;
}

.main > div {
  margin-bottom:30px;
}

.main-title {
  height:200px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 1px solid black;
}

.textarea-box {
  height:500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn-box {
  height:100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
