/* grid-section-1 */

.grid-section-1 {
  display: flex;
  
  margin-bottom: 20px;
}

/* aside */

.aside {
  width:18%;
  padding-top: 100px;
  margin-right:20px;
}

.anchor-container {
  border: 1px solid var(--border-color);
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}

.often-ask-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.often-ask-box > a,
.q-a-box > a {
  line-height: 6rem;
  text-align: center;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.q-a-box > a {
  color: var(--default-color);
}

.q-a-box {
  cursor: pointer;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}




/* main */

.main {
  width:82%;
}
  
  
  .main-title {
    height:200px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
  }
  
  .text-title {
    height:80px;
    display: flex;
    align-items: center;
border-bottom: 1px solid rgba(0,0,0,0.2);
  }
  
  .text-info {
    
    padding:10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
  
  .text-info > div{
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .text-content{
    min-height:600px;
  }

  .author-time{
      margin-right:20px;
  }

  .comment-container-box{
      padding:15px;
      border: 1px solid rgba(0,0,0,0.3);
      margin-bottom:10px;
  }

  .comment-write-container{
      height:180px;
    display:flex;
    border:1px solid rgba(0,0,0,0.2);
    margin-bottom:10px;
}

  .comment-write-container >div:nth-child(1){
      width:20%;
      display:flex;
      align-items: center;
      justify-content: center;
      border-right:1px solid rgba(0,0,0,0.3) 
  }

  .comment-write-container >div:nth-child(2){
    width:80%;
}

.comment-list-title{
    height:50px;
    display:flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.comment-title{
    display:flex;
    align-items: center;
    height:30px;
}

.comment-author{
    margin-right:20px;
    font-weight: bold;
    font-size: 0.9rem;
}

.comment-time{
  font-size:0.8rem;
  color:#999;
}

.comment-content{
  font-size: 0.9rem;
}

#comment-write-text{
    resize: none;
    width:100%;
    height:65%;
    border:1px solid rgba(0,0,0,0.2);
}

.comment-submit-box{
  height:35%;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}