/* grid-section-1 */

.grid-section-1 {
  display: flex;
  
  margin-bottom: 20px;
  grid-gap: 30px;
}

.aside div {
  border: 1px solid var(--border-color);
}

/* aside */

.aside {
  width:18%;
  padding-top: 100px;
  margin-right:20px;
}

.aside-top {
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}

.aside-1-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside-1-1 > a,
.aside-1-2 > a {
  line-height: 6rem;
  text-align: center;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.aside-1-2 > a {
  color: var(--default-color);
}

.aside-1-2 {
  cursor: pointer;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}



/* main */

.main {
  width:82%;
}

.main-title {
  height:100px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 1px solid black;
}

.main-info {
  height:200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}

.main-info > h2 {
  padding-bottom: 10px;
  font-size: 2.5rem;
}

.search-box {
  height:100px;
  display: flex;
  align-items: center;
}

.search-box > input,
.search-box > select {
  margin-right: 10px;
  height: 40px;
}

/* board */

/* board-header */

.board-header {
  height:50px;
  border-top: 1px solid black;
  background-color: var(--box-color);
  display: flex;
  font-weight: bold;
}

.board-header > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-num {
  flex: 1;
}

.board-title {
  flex: 6;
}

.board-author {
  flex: 1;
}

.board-date {
  flex: 2;
}

.board-views {
  flex: 1;
}

/* board-section */

.board-section {
  height:500px;
  display: flex;
  flex-direction: column;
}

/* board-box */

.board-box {
  flex: 1;
  display: flex;
  border: 1px solid var(--border-color);
}

.board-box > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
