
/* main */
    
.text-title {
  height:60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.text-title > h1{
  font-size:18px;
  padding-left: 10px;
}

.text-info {
  padding:10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.text-info > div{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.author-name > span{
  font-weight: bold;
  font-size: 16px;
}
#text-content{
  min-height:250px;
  margin-bottom: 100px;
}
.author-time{
    padding-right:20px;
}
.author-time > span{
  font-size: 16px;
  color: #5a5a5a;
}

.author-lookup{
  font-size: 15px;
  margin-right: 20px;
}

.commentBox{
  padding: 8px;
  border-bottom: 1px dotted #656565;
}
.comment-container-box{
    margin-bottom:10px;
    min-height: 250px;
}
.comment-container-box > .comment-box{
  border-bottom: 1px solid rgba(0,0,0,0.2);
}


.comment-write-text-box{
  position: relative;
  height: 120px;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 15px 15px 40px 15px;
}

.comment-list-title{
  font-size: 17px;
  padding: 5px;
  height: 50px;
  display:flex;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.comment-list-title >span{
  font-weight: bold;
}

.comment-title-box{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-title{
  display:flex;

}

.comment-author{
  margin-right:3px;
  font-weight: bold;
  font-size: 13px;
}

.comment-time{
  font-size:12px;
  color:#999;
  margin-top: 2px;
  margin-left: 3px;
}

.comment-content{
  font-size: 0.9rem;
  margin-top: 2px;
  padding-bottom: 10px;
}

.comment-write-text{
    resize: none;
    width:100%;
    height:100%;
    border: none;
    font-size:16px;
}

.char-count-box{
  position: absolute;
  top: 75%;
  right: 7%;
  width: 60px;
  height: 20px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  justify-content: center;
}
.comment-limit-alert{
  color: #ff2f2f;
  font-weight: bold;
}
.comment-btn{
  position: absolute;
  top: 70%;
  right: 1%;
}

.text-update-container{
  padding:10px 0;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}

.read-btn{
  border-radius: 3px;
  width: 46px;
  height: 28px;
  font-size: 14px;
}

.comment-update-btn{
  border-radius: 3px;
  width: 38px;
  height: 24px;
  font-size: 12px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .char-count-box{
    right:20%;
  }
  
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .char-count-box{
    right:15%;
  }
}


@media (min-width: 481px) and (max-width: 767px) {

  .char-count-box{
    right:20%;
    font-size: 15px;
  }
  .text-title > h1{
    font-size:17px;
  }

  .author-time > span{
    font-size: 15px;
}

.author-name > span{
  font-size: 15px;
}

.author-lookup{
  font-size: 14px;
}


.comment-btn{
  font-size: 13px;
}

.comment-list-title{
  font-size: 16px;
}

.comment-write-text{
  font-size:15px;

}

  
}

@media (min-width: 0px) and  (max-width: 480px) {
  
  .char-count-box{
    right:22%;
    font-size: 14px;
  }

  .text-title > h1{
    font-size:16px;
  }

  .author-time > span{
    font-size: 14px;
}

.author-name > span{
  font-size: 14px;
}

.author-lookup{
  font-size: 13px;
}

.comment-btn{
  font-size: 12px;
}
.comment-list-title{
  font-size: 15px;
}

.comment-write-text{
  font-size:14px;

}
  
}