.section1 {
  background-color: transparent;
}


/* main */
    
  .main-title {
    height:150px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    border-bottom: 1px solid black;
  }
  
  .text-title {
    height:60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }

  .text-title > h1{
    font-size:1.2rem;
  }
  
  .text-info {
    padding:10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
  
  .text-info > div{
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .author-name > span{
    font-weight:bold;
    font-size:0.9rem;
  }

  .text-content{
    min-height:300px;
  }

  .author-time{
      margin-left:20px;
  }

  .author-time > span{
    font-size:0.8rem;
}

.author-lookup{
  font-size:0.8rem;
}

  .comment-container-box{
      padding:15px;
      border: 1px solid rgba(0,0,0,0.3);
      margin-bottom:10px;
  }

  .comment-write-container{
      height:180px;
    display:flex;
    border:1px solid rgba(0,0,0,0.2);
    margin-bottom:10px;
}

  .comment-write-container >div:nth-child(1){
      width:20%;
      display:flex;
      align-items: center;
      justify-content: center;
      border-right:1px solid rgba(0,0,0,0.3) 
  }

  .comment-write-container >div:nth-child(2){
    width:80%;
}

.comment-list-title{
    height:50px;
    display:flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.comment-title{
    display:flex;
    align-items: center;
    height:30px;
}

.comment-author{
    margin-right:20px;
    font-weight: bold;
    font-size: 0.9rem;
}

.comment-time{
  font-size:0.8rem;
  color:#999;
}

.comment-content{
  font-size: 0.9rem;
}

#comment-write-text{
    resize: none;
    width:100%;
    height:65%;
    border:1px solid rgba(0,0,0,0.2);
}

.comment-submit-box{
  height:35%;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}

