.section1 {
  background-color: transparent;
}


/* main */
    
  .main-title {
    height: 77px;
    padding-left: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    border-bottom: 2px solid #afafaf;
  }
  
  .text-title {
    height:60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }

  .text-title > h1{
    font-size:1.2rem;
    padding-left: 10px;
  }
  
  .text-info {
    padding:10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
  
  .text-info > div{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }

  .author-name > span{
    font-weight: bold;
    font-size: 1rem;
  }

  .text-content{
    min-height:250px;
  }

  .author-time{
      padding-right:20px;
  }

  .author-time > span{
    font-size: 1rem;
    color: #5a5a5a;
}
.anchor-box ul{
  list-style-type: none
}
.author-lookup{
  font-size: 0.9rem;
  margin-right: 20px;
}

  .comment-container-box{
      margin-bottom:10px;
  }

  .comment-container-box > .comment-box{
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }


.comment-write-text-box{
  position: relative;
  height: 100px;
}

.comment-list-title{
  font-size: 1.1rem;
  padding: 5px;
  height: 50px;
  display:flex;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.comment-list-title >span{
  font-weight: bold;
}

.comment-title{
    height:50px;
    display:flex;
    align-items: center;
}

.comment-author{
    margin-right:3px;
    font-weight: bold;
    font-size: 13px;
}

.comment-time{
  padding-top:3px;
  font-size:12px;
  color:#999;
}

.comment-content{
  font-size: 0.9rem;
  padding: 0 0 20px 0;
}

.comment-write-text{
    resize: none;
    width:100%;
    height:100%;
    border:1px solid rgba(0,0,0,0.2);
    font-size:1rem;
    padding:20px 20px 20px 20px;
}

.char-count-box{
  position: absolute;
  top:80%;
  left:1%;
  width:65px;
  height:35px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.comment-btn{
  position: absolute;
  top: 51%;
  right: 2%;
  border-radius: 3px;
  width: 65px;
  height: 35px;
  font-size: 14px;
}
