
/* section1 */

.section1 {
  background-color: var(--box-color);
}

/* grid-section-1 */

.grid-section-1 {
    display: flex;
    margin-bottom: 20px;
  }
  
  /* aside */
  
  .aside {
    width: 18%;
    padding-top: 75px;
    margin-right: 20px;
  }

  .anchor-box {
    border: 1px solid var(--border-color);
    margin-bottom: 10px;
    font-size: 1rem;
    height:220px;
  }
  
  .anchor-box >ul {
    list-style-type: none;
    font-size: 1.1rem;
  }
  
  .anchor-box > ul >li{
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #c3c3c3;
  }
  
  .anchor-box > ul >li >a:hover{
    opacity: 0.7;
  }
  
  .anchor-title{
    background-color: var(--main-color);
    color: var(--default-color);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
  }

  .main {
    width:82%;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
  
    .anchor-box {
      height:180px;
    }
    
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .anchor-box {
      height:180px;
    }
    
  }

  @media(min-width: 0px) and (max-width: 767px) {
    .grid-section-1{
      display:block;
    }

    .aside{
      padding-top:10px;
      width:100%;
    }

    .main{
      width:100%;
    }
  }

 