/* signup */

.signup-container {
  display: flex;
  flex-direction: column;
  margin-bottom:5rem;
}

.signup-box  input {
  width:20rem;
  height: 4rem;
}

.signup-box   label {
  width:15rem;
  display:flex;
  justify-content: center;
  align-items: center;
  border-right:1px solid var(--border-color);
}

.signup-box label {
  font-weight: bold;
  padding: 1rem 0;
}

.signup-box{
  padding:1rem 0;
display:flex;
align-items: center;
  margin-bottom:2rem;
}

.alert-box{
  padding:0 0 0 1rem;
  height:4rem;
  color:red;
  display:flex;
  align-items: center;
}

.auth-alert-box{
  padding:0 0 0 1rem;
  height:4rem;
  display:flex;
  align-items: center;
}

.alert-input{
  border-color: red !important;
  color:red;
}

.phone-input:first-child{
  width:60px;
}
.phone-input:not(:first-child){
  margin-left: 20px;

}
.phone-input{
  width:75px;
  margin-right: 20px;
}

.signup-btn {
  width:14rem;
  height: 4rem;
  font-size: 1.3rem;
}

.signup-btn-box{
  display:flex;
  align-items: center;
  justify-content: center;
}

.auth-btn {
  height: 4rem;
  font-size: 1.1rem;
}

.auth-input-container{
  display:flex;

}

.auth-check-container{
  display:flex;
  align-items: center;
  justify-content: center;
}

.auth-check-box{
  width:10rem;
}


.auth-time-box{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.auth-time-box > label{
  font-weight: bold;
  padding:1rem 0;
}



@media (min-width: 481px) and (max-width: 767px) {
  .logo {
    font-size: 1.7rem;
  }

}

@media (min-width: 0px) and  (max-width: 480px) {
  .logo {
    font-size: 1.3rem;
  }
}