/* signup */

.signup-container {
  display: flex;
  flex-direction: column;
  margin-bottom:5rem;
}

.signup-box  > input {
  height: 4rem;
}

.signup-box  > label {
  width:9rem;
  display:flex;
  align-items: center;
}

.signup-container label {
  font-weight: bold;
  padding: 1rem 1rem;
}

.signup-box{
  padding:1rem 0;
display:flex;
align-items: center;
  margin-bottom:2rem;
}

.alert-box{
  padding:0 0 0 1rem;
  height:5rem;
  color:red;
  display:flex;
  align-items: center;
}

.alert-input{
  border-color: red !important;
  color:red;
}

.auth-box{
  display:flex;
}

.auth-box >div{
  display:flex;
  flex-direction: column;
}

.auth-left-box{
  flex:2;
  margin-right:1rem;
}

.auth-right-box{
  flex:1;
}
.bar{
  font-size: 1.5em;
  font-weight: bold;
}
.phone-input:first-child{
  width:60px;
}
.phone-input:not(:first-child){
  margin-left: 20px;

}
.phone-input{
  width:75px;
  margin-right: 20px;
}

.signup-btn {
  height: 5rem;
  font-size: 1.3rem;
}

.auth-btn {
  height: 5rem;
  font-size: 1.1rem;
}

.auth-check-box{
  display:flex;
  align-items: center;
  justify-content: space-between;
}


@media (min-width: 481px) and (max-width: 767px) {
  .logo {
    font-size: 1.7rem;
  }

}

@media (min-width: 0px) and  (max-width: 480px) {
  .logo {
    font-size: 1.3rem;
  }
}