/* init css */

@import url('https://fonts.googleapis.com/css?family=Roboto|Nanum+Gothic&display=swap');

:root{
    --default-color:white;
    --main-color:rgb(73,73,234);
    --title-color:#a5484c;
    --lotto-color:rgba(231, 76, 60, 0.2);
    --footer-color:#003d33;
    --border-color:rgba(0,0,0,0.3);
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Roboto','Nanum Gothic', sans-serif;
}

a{
    text-decoration: none;
    color:black;
}

h1{
    font-weight: normal;
}

ul{
    padding:0;
    list-style-type: none;
}

input,select{
    padding:10px 0px 10px 10px;
}

/* button */

.btn{
    cursor: pointer;
    border:none;
    outline: none;
}

/* container */

#wrapper{
    width:100%;
}

.container{
    margin: 0 auto;
    width:1200px;
    height:100%;
}

/* header */

#header{
    height:180px;
    padding:60px 0;
}

.logo{
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

/* signup */

.signup-container{
    display:flex;
    align-items: center;
    justify-content: center;
}

.signup-box{
    width:460px;
    display:flex;
    flex-direction: column;
}

.signup-box input, select{
    height:50px;
    margin-bottom:20px;
}

.signup-box input:focus{
    border: 1px solid var(--main-color);
}

.signup-box label{
    padding:10px 0;
}

.signup-btn{
    background-color: var(--main-color);
    color:var(--default-color);
    height:60px;
    font-size:1.3rem;
}

/* email */
.email-box{
    display:flex;
    align-items: center;
    
}

.email-box > input{
    flex:2;
    margin-right:10px;
}

.email-box > select{
    flex:1;
}

/* birth box */

.birth-box{
    display:flex;
    align-items: center;
    justify-content: space-between;
}