html {
  background-color: var(--box-color);
}

/* header */

#header {
  height: 150px;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.logo > a {
  color: var(--main-color);
}

/* signup */

.signup-container-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-container {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.signup-box input {
  height: 50px;
  margin-bottom: 10px;
}

.signup-container  button{
margin-bottom:50px;
}

.signup-container  label {
  font-weight: bold;
  padding: 10px 0;
}

.signup-box{
  display:flex;
  flex-direction: column;
}

.alert-box{
  height:50px;
  color:red;
}

.alert-input{
  border-color: red !important;
  color:red;
}

.signup-btn {
  height: 60px;
  font-size: 1.3rem;
}

.auth-check-box{
  display:flex;
  align-items: center;
  justify-content: space-between;
}


@media (min-width: 481px) and (max-width: 767px) {
  .logo {
    font-size: 1.7rem;
  }

}

@media (min-width: 0px) and  (max-width: 480px) {
  .logo {
    font-size: 1.3rem;
  }
}