
  /* main */
  
  .main {
    padding-top: 1rem;
  }


  .table-1{
    width:100%;
    height:100%;
  }

  .table-1 th{
    word-break: keep-all;
    background-color: var(--main-color);
    color:var(--default-color);
  }

  .table-1 tr{
    font-size:1.4rem;
    text-align: center;
    height:3rem;
  }

  .chart-slide-current {
    background-color: var(--default-color) !important;
    border: 6px solid var(--lotto-title-color);
  }

