
.anchor-box > ul >li:nth-child(3){
  background-color: rgb(220,220,220);
  font-weight: bold;  
}

.anchor-box > ul >li:nth-child(3) >a:hover{
  opacity: 1 !important;
}

.func1-chart-container{
  width: 100% !important;
  margin: 0 !important;
}

.func1-chart-box{
  padding:3rem;
  height: 100% !important;
  display:flex;
  align-items: center;
  justify-content: center;
  } 



.stats-container{
  display:flex;
  justify-content: space-around;
  padding: 2rem 0;
}