.mypage-num-list-container{
  margin-bottom:5rem;
}

.mypage-num-container>div:not(:last-child){
  border-bottom: 1px dashed var(--border-color);
}

.mypage-num-box{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
}

#service{
  margin-right:1rem;
}

#service-expiry-date{
  color: rgb(113, 113, 113);
  font-weight: 500;
  font-size: 1.3rem;
}

#inc-num,
#exc-num{
  font-weight: bold;
}

.mypage-num-box > div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mypage-num-box > div{
  display: flex;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin: 1rem 2rem;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  color: var(--default-color);
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.7;
}

.mypage-title{
  display:flex;
  align-items: center;
  height:4rem;
  padding-left:2rem;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--table-title-color);
  font-size:1.5rem;
  font-weight: 500;
}

.mypage-num-list-container > .mypage-title{
  margin-bottom:1rem;
}


.mypage-info-box{
  display:flex;
  flex-direction: column;
  height:20rem;
  padding: 2rem;
}

.mypage-info-box > li{
  flex:1;
  display: flex;
align-items: center;
font-size: 1.4rem;
}

.mypage-nickname,
.mypage-service  {
  justify-content: space-between;
}

.mypage-info-box > li >div{
  display: flex;
  align-items: center;
 height:100%; 
}

.mypage-info-list-title{

  width:6.5rem;
}
.mypage-info--list-seperator{
  width:2rem;
}

.service-update-btn{
  width: 4rem;
  height:2.5rem;
  color:black;
}

.mypage-win-num{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mypage-win-num > div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  color: var(--default-color);
}

.mypage-none-box{
  display:flex;
  align-items: center;
  justify-content: center;
  height:5rem;
  font-size: 1.6rem;
}

.mypage-notice-box > i{
  position: relative;
  color: var(--main-color);
  font-size:3rem;
  cursor: pointer;
}

.mypage-notice-box > i:hover{
  animation: swing 0.6s ease;
}

@keyframes swing
{
    0% { transform:rotateZ(0); }
    25%{ transform:rotateZ(25deg); }
    50%{ transform:rotateZ(-15deg); }
    75%{ transform:rotateZ(10deg); }
    100%{ transform:rotateZ(0); }
}

.mypage-notice-num{
  position: absolute;
  top:0;
  right:-1rem;
  width:2.5rem;
  padding:0.1rem;
  border:2px solid var(--default-color);
  border-radius: 0.7rem;
  background-color: var(--main-color);
  color:var(--default-color);
  font-size:1.2rem;
}

#point{
  margin-left: 0.5rem;
}