.mypage-num-container >div.none-box{
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

.mypage-table-num{
 border-right: none; 
}

.mypage-table-iswin{
  display:none;
}

.mypage-title{
  display:flex;
  align-items: center;
  height:4rem;
  padding-left:2rem;
  background-color: #f6f6f6;
  font-size:1.5rem;
  font-weight: 500;
}

.mypage-box{
  border-right:1px solid rgba(0, 0, 0, 0.1);
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
  border-left:1px solid rgba(0, 0, 0, 0.1);
}

.mypage-num-container.mypage-box{
  border-bottom:none;
}

.mypage-info-box{
  display:flex;
  flex-direction: column;
  height:20rem;
  padding: 2rem;
}

.mypage-info-box > li{
  flex:1;
  display: flex;
align-items: center;
font-size: 1.4rem;
}


.mypage-info-box > li >div{
  display: flex;
  align-items: center;
 height:100%; 
}

.mypage-info-win-num-container{
  width: 100%;
}

.mypage-info-list-title{
  width:6.5rem;
}
.mypage-info-list-seperator{
  width:2rem;
}

#service{
  margin-right:1rem;
}

#service-expiry-date{
  color: rgb(113, 113, 113);
  font-weight: 500;
  font-size: 1.3rem;
}

#inc-num,
#exc-num{
  font-weight: bold;
}

.mypage-nickname,
.mypage-service,
.mypage-phone  {
  justify-content: space-between;
}

  #mobile-status{
  cursor: initial;
}

.service-update-btn{
  height:2.5rem;
  padding:0 0.5rem;
  color:black;
}

.mobile-btn{
  margin-right:0.5rem;
}

#point{
  margin-left: 0.5rem;
}

.day-week-receive-text{
  margin-left:2rem;
}

.day-week-receive-text + .mypage-info-list-seperator{
  text-align: center;
}

#day-week-receive{
  padding:0.2rem;
}

.plus{
  margin:0 0.2rem;
}

.mypage-win-num{
  display:flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-top:0.3rem;
}

.mypage-win-num > div{
  display: inline-block;
  width: 2.8rem;
  height: 2.8rem;
  margin:0 0.5rem 0.5rem 0;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  color: white;
  text-align: center;
  line-height: 2;
  font-size:1.4rem;
}

.mypage-num-box{
  width:100%;
  height:100%;
  padding:1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size:0;
}

.mypage-num{
  display: inline-block;
  width: 20%;
}

.mypage-num > div{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(97, 87, 87, 0.4);
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
}

.mypage-num-list-select{
  display:flex;
  align-items: center;
  margin-left:1rem;
}

.mypage-num-list-select >*{
  margin-left: 1rem;
}

.mypage-num-list-select::before{
  content: '|';
  color:#999;
}

.mypage-num-list-total-text{
  color:rgb(93, 93, 93);
  font-weight: 400;
  font-size:1.4rem;
}

.mypage-num-list-container{
  margin-bottom:5rem;
}

.mypage-num-list-container > .mypage-title{
  margin-bottom:1rem;
}

.mypage-table-num-box .none-box{
  border-top: 1px solid rgba(0,0,0,0.1);
  border-left: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.mypage-notice-box > i{
  position: relative;
  color: #09538e;
  font-size:3rem;
  cursor: pointer;
}

.mypage-notice-box > i:hover{
  animation: swing 0.6s ease;
}

.mypage-notice-num{
  position: absolute;
  top:0;
  right:-1rem;
  width:2.5rem;
  padding:0.1rem;
  border:2px solid white;
  border-radius: 0.7rem;
  background-color: #09538e;
  color:white;
  font-size:1.2rem;
}

.swal2-title{
  font-size: 2rem !important;
}

@keyframes swing
{
    0% { transform:rotateZ(0); }
    25%{ transform:rotateZ(25deg); }
    50%{ transform:rotateZ(-15deg); }
    75%{ transform:rotateZ(10deg); }
    100%{ transform:rotateZ(0); }
}


@media (min-width: 0px) and (max-width: 767px) {

  .mypage-info-box > li{
    font-size:1.3rem;
  }

  .mypage-info-box > li .mypage-info-list-seperator{
    width: 1rem;
  }

  .mypage-info-list-title{
    width:auto;
  }

  .mypage-info-win-num-container .mypage-info-list-title{
    width: 6rem;
  }

  .mypage-info-box{
    padding:0.5rem;
  }

  .mypage-win-num >div{
    margin-right:0.2rem;
  }

}
