
.mypage-num-title{
  height:5rem;
  color:var(--default-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
}

.mypage-inc-num-title{
  background-color: rgb(31, 113, 179);
}

.mypage-exc-num-title{
  background-color: var(--lotto-title-color);
}

.mypage-num-wrapper{
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
}

.mypage-num-container > div.mypage-num-box:not(:last-child){
  border-bottom: 1px solid var(--border-color);
}
.mypage-num-box{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #fdfcfc;
  }
  
  .mypage-num-box > div{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mypage-num-box > div{
    font-weight: 500;
    font-size: 2rem;
    background-color: var(--main-color);
    color: var(--default-color);
    width: 3.5rem;
    height: 3.5rem;
    margin:1rem;
    line-height: 1.7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  }

.mypage-win-num-container{
  height:7rem;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.mypage-win-num-text {
  font-size:1.4rem;
}

.mypage-win-num-box {
  display: flex;
  margin-left:3rem;
}

.mypage-win-num-box > div {
  font-size:1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-right: 2rem;
  color: var(--default-color);
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

