
.mypage-num-title{
  display: flex;
  align-items: center;
  justify-content: center;
  height:5rem;
  color:white;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
}

.mypage-inc-num-title{
  background-color: rgb(31, 113, 179);
}

.mypage-exc-num-title{
  background-color: #a5484c;
}

.mypage-num-wrapper{
  margin-bottom: 1rem;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
}

.mypage-num-container > div.mypage-num-box:not(:last-child){
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.mypage-num-box{
    width:100%;
    height:100%;
    background-color: #fdfcfc;
    font-size:0;
  }
  
  .mypage-num{
    display: inline-block;
    width: 20%;
  }
  
  .mypage-num > div{
    display: flex;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    margin:1rem;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    background-color: #09538e;
    color: white;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.7;
  }

.mypage-win-num-container{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.mypage-win-num-text {
  font-size:1.4rem;
}

.mypage-win-num-box {
  display:flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin-left:0.5rem;
  padding-top:1rem;
}

.mypage-win-num-box > div {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  margin:0 1rem 1rem 1rem;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  background-color: #ffffff;
  color: white;
  font-size:1.3rem;
  text-align: center;
  line-height: 2.7;
}

@media (min-width: 0px) and (max-width: 767px) {
  .mypage-win-num-box{
    width:70%;
  }
.mypage-win-num-box > div{
  width: 2.8rem;
  height: 2.8rem;
  margin:0 0 1rem 0;
}
}

