.num-list-select{
    height: 4rem;
    margin-left:1rem;
    padding:1rem;
    border:1px solid #999;
    border-radius: 3px;
}

.mypage-selectbox-container{
    display:flex;
    align-items: center;
}

.mypage-table-num-box{
    margin-bottom:1rem;
}

.mypage-table-num-box > div.mypage-table-content:last-child{
    border-bottom: 1px solid var(--border-color);
}

.mypage-num-delete-btn-box{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    height:10rem;
}

.mypage-num-delete-btn{
    width:10rem;
    height:4rem;
    background-color: var(--button-color2);
    color:var(--default-color);
    font-size:1.4rem;
}
.mypage-toggle-btn-box{
    display:flex;
    align-items: center;
    justify-content: center;
}
.mypage-toggle-btn{
    width:10rem;
    height:3.5rem;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    background-color: var(--button-color3);
    color:var(--default-color);
}

.mypage-toggle-btn:hover{
 background-color: rgb(138, 196, 243);
}

.func3-num-list-boundary{
    height: 0.5rem;
    margin:2rem 0;
    background-color: #5f5f5f;
  }

