.num-list-select{
    height: 4rem;
    margin-left:1rem;
}

.mypage-selectbox-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.mypage-table-num-box > div.mypage-table-content:last-child{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.mypage-num-delete-btn-box{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom:5rem;
}

.mypage-num-delete-btn{
    width:10rem;
    height:3.5rem;
    border-radius: 3px;
    background-color: #6995b9;
    color:white;
    font-size:1.4rem;
}

.mypage-num-delete-btn:hover{
    background-color: #689cc7;
}

.mypage-toggle-btn-box{
    display:flex;
    align-items: center;
    justify-content: center;
}
.mypage-toggle-btn{
    width:10rem;
    height:3.5rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    background-color: #66c2ff;
    color:white;
    font-size:1.4rem;
}

.mypage-toggle-btn:hover{
 background-color: rgb(138, 196, 243);
}


  @media (min-width: 0px) and (max-width: 767px) {

    .mypage-selectbox-container{
        margin-bottom:1rem;
    }

    .num-list-select{
        width:6rem;
        height: 3.5rem;
    }

    .mypage-toggle-btn-box{
        justify-content: flex-end;
    }
  
  }