
  .mypage-table-num-list{
    width: 100%;
  }
  
  .mypage-table-num-list > div{
    display:inline-block;
    width:3.5rem;
    height:3.5rem;
    margin:0 1rem 1rem 1rem;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    color:white;
    font-size:1.5rem;
    line-height: 2.3;
    text-align: center;
  }

  .mypage-table-num-toggle{
    width:6rem;
    height:2.5rem;
  }

  .mypage-table-header{
    display:flex;
    height:5rem;
    border-top:1px solid rgba(0, 0, 0, 0.1);
    border-right:1px solid rgba(0, 0, 0, 0.1);
    border-left:1px solid rgba(0, 0, 0, 0.1);
    background-color: #f6f6f6;
    font-size:1.3rem;
    text-align: center;
    word-break: keep-all;
  }

  .mypage-table-content{
    display:flex;
    border-top:1px solid rgba(0, 0, 0, 0.1);
    border-right:1px solid rgba(0, 0, 0, 0.1);
    border-left:1px solid rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
  }

  .mypage-table-checkbox,
.mypage-table-round,
.mypage-table-date,
.mypage-table-division,
.mypage-table-iswin,
.mypage-table-num
  {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }


  .mypage-table-checkbox,
.mypage-table-round,
.mypage-table-date,
.mypage-table-division{
  flex:1;
  border-right:1px solid rgba(0, 0, 0, 0.1);
}
 
.mypage-table-num{
border-right:1px solid rgba(0, 0, 0, 0.1);
}

.mypage-table-iswin
{
    flex:1;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mypage-table-content >div.mypage-table-num{
  padding-top:1rem;
}

.mypage-table-num{
  flex:4;
}

.mypage-table-num-toggle{
  width:6rem;
  height:2.5rem;
  background-color: white;
}

@media (min-width: 0px) and (max-width: 767px) {

.mypage-table .mypage-table-date,
.mypage-table .mypage-table-division{
    display:none;
}

.mypage-table-num{
  flex:5;
}

  .mypage-table-num-list > div{
    width:2.5rem;
    height:2.5rem;
    margin-left:0.5rem;
    margin-right:0.5rem;
    line-height: 1.7;
  }


}

