
.board-header {
    display: flex;
    height:5rem;
    border-top: 1px solid black;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
    background-color: #f8f9fb;
    font-weight: 500;
  }
  
  .board-header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1.6rem;
  }
  
  .board-title {
    flex: 4;
    word-break: keep-all;
    font-size:1.5rem;
  }
  
  .board-author {
    flex: 2;
    font-size:1.3rem;
  }
  
  .board-date {
    flex: 2;
    font-size:1.3rem;
  }
  
  .board-views {
    flex: 1;
    font-size:1.3rem;
  }
  
  .board-reco {
    flex: 1;
    font-size:1.3rem;
  }
  
  /* board-section */
  
  .board-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    border-left:1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  /* board-box */
  
  .board-box {
    display: flex;
    height:6rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .board-box > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  