.pay-result-info-box{
    margin-bottom: 1rem;
}

.pay-account-info-box{
    margin-bottom: 1rem;
}

.board-header {
    display: flex;
    align-items: center;
    height:4.5rem;
    padding-left:1rem;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
    background-color: #f8f9fb;
    font-size:1.6rem;
  }
  
  .board-title {
    flex:1;
    color:#424242;
    font-size:1.4rem;
  }
  
  .board-content {
      flex:2;
      color: #424242;
    font-size:1.3rem;
  }
  
  /* board-section */
  
  .board-section {
    display: flex;
    flex-direction: column;
  }

  .board-section > .board-box:last-child{
      border-bottom: none;
  }
  
  .board-section > .board-box > .board-title > a{
    white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  
  /* board-box */
  
  .board-box {
    display: flex;
    height:4rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .board-box > div {
    display: flex;
    align-items: center;
    padding-left:1rem;
  }

.board-s-box{
    padding:0.5rem 0.5rem 0.5rem 2rem;
    color: rgb(90, 90, 90);
    font-size:1.3rem;
}