.stats-container{
  display:flex;
  justify-content: center;
  margin-bottom:1rem;
  padding: 2rem 0;
  border-bottom: 1px solid #a2a2a2;
  background-color: #f6f6f6;
  color:#575757;
  font-size:1.5rem;
  align-items: center;
}
.explain-container{
  margin-bottom: 1rem;
  padding: 0.8rem;
  color: #666;
  border-radius: 2px;
  border: 1px solid #e1e1e1;
  background-color: #f9f9f9;
  font-size:1.3rem;
}
.box-title{
  font-size: 1.7rem;
  font-weight: bold;
  margin-right: 1.5rem;
}
.lotto-num-box{
  width:85%;
  margin: 0 auto;
  padding:1rem 2rem;
}
.lotto-num {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 3rem;
  margin: 1rem auto;
  border-radius: 0.4rem;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 3px rgba(97, 87, 87, 0.4);
  color: white;
  font-size: 1.3rem ;
}