
.main-box{
  width:100%; 
  margin-bottom:5rem;
}
.chart-container{
  position: relative;
  width: 100%;
  height: 100%;
  border-top:3rem solid var(--bezel-color);
  border-right:2.5rem solid var(--bezel-color);
  border-bottom:3rem solid var(--bezel-color);
  border-left:2.5rem solid var(--bezel-color);
  border-radius: 1rem;
}

.chart-slide-title{
  display:flex;
  align-items: center;
  justify-content: center;
  height:5rem;
  margin-top:-3rem;
  background-color: var(--bezel-color);
  color:var(--default-color);
  font-size:1.8rem;
}

.chart-slide-num {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height:7rem;
  border-radius: 2rem;
  font-size:1.8rem;
}

.chart-slide-num > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.chart-slide-current {
  border: 6px solid var(--lotto-title-color);
}


.chart-title{
  display:flex;
  align-items: center;
  justify-content: center;
  height:3rem;
  border-top:1px solid var(--border-color);
  border-bottom:1px solid var(--border-color);
  background-color: var(--table-title-color);
  font-size:1.4rem;
}

.chart-line-container{
  height: 30rem;
  padding:1rem 2rem;
  } 

 .chart-container.chart-bar-container-box{
    border-bottom:8rem solid var(--bezel-color);
  }

.chart-bar-container{
  position: relative;
  width: 100%;
  height: 35rem;
  padding:0 2rem;
  overflow-x: scroll;
}

.chart-bar-box{
  position: absolute;
  top:50%;
  left:0;
  width:300rem;
  height:30rem;
  margin-top:-15rem;
  padding:0 2rem;
}


.chart-bar{
  position: absolute;
  top: 50%;
  left: 2rem;
  margin-top:-15rem;
  
}

.chart-slide-btn-box{
  display:flex;
  align-items: flex-end;
  justify-content: center;
  height:5rem;
  background-color: var(--bezel-color);
}

.chart-btn{
  color: var(--default-color);
  font-size:4rem;
  cursor: pointer;
}

.left-chart-btn {
  margin-right: 1.5rem;
}

.right-chart-btn {
  margin-left: 1.5rem;
}

.stats-container{
  display:flex;
  justify-content: space-around;
  margin-bottom:5rem;
  padding: 2rem 0;
}

.stats-box{
  width:18rem;
  height:4rem;
  border:1px solid rgba(0,0,0,0.4);
}

.stats-box > div{
  font-size:1.3rem;
}


@media (min-width: 0px) and (max-width: 767px) {

  .stats-container.box-color{
    border:none;
  }

  .stats-box{
    width:30%;
    height:7rem;
  }

  .chart-container{
    border-right:1.5rem solid var(--bezel-color);
    border-bottom:2rem solid var(--bezel-color);
    border-left:1.5rem solid var(--bezel-color);
  }

  .chart-container.chart-bar-container-box{
    border-bottom:7rem solid var(--bezel-color);
  }


  .chart-slide-num > div{
    width: 4rem;
    height: 4rem;
  }

  .chart-slide-current{
    border-width: 5px;
  }


}


  
  