.ad-box{
  margin-bottom: 5rem;
}
.num-week-container{
    margin-bottom:2rem;
}

.num-week-section{
    display:flex;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.num-week-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height:5rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: #f6f6f6;
    font-size: 1.6rem;
  }
  
  .num-week-box {
      width:50%;
  }
  
  .num-week-num-box,
  .num-week-hit-box{
    display:flex;
      font-size:0;
  }

  .num-week-num-box{
    height:5rem;
  }

  .num-week-hit-box{
    height: 3rem;
  }

  .num-week-hit-result{
      margin:0 0.5rem;
    font-weight: bold;
}

  .num-week-num-box>div,
  .num-week-hit-box >div {
    display:flex;
    justify-content: center;
    width: 20%;
    font-size: 1.4rem;
  }

  .num-week-num-box>div{
    align-items: center;
  }

  .num-week-num > div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.5rem;
      height: 3.5rem;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba(97, 87, 87, 0.4);
    background-color: #09538e;
    color: white;
  }
  .num-week-footer{
      display:flex;
      align-items: center;
      justify-content: center;
      height:5rem;
      font-size:1.4rem;
  }


/* .ad-box{
    width: 100%;
    height:25rem;
    margin: 5rem 0;
} */

@media (min-width: 0px) and (max-width: 767px) {
    .num-week-section {
        display: block;
    }

    .num-week-section > div.num-week-box:nth-child(1){
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .num-week-box{
        width: 100%;
    }


}



 