
  
  /* header */
/* top-nav */

.top-nav-container {
  height: 4.5rem;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.4rem;
}

.top-nav-right > ul {
  display: flex;
}

.top-nav-right > ul > li {
  padding: 0 1rem;
}

.top-nav-right > ul > li:not(:last-child) {
  border-right: 1px solid var(--border-color);
}

/* mid-nav */

.mid-nav-container {
  width:100%;
  height: 12rem;
  background-color: var(--main-color);
  color: var(--default-color);
}

.mid-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mid-nav > h1 > a {
  color: var(--default-color);
  font-size: 3rem;
}

.mid-nav-menu {
  display: flex;
  align-items: center;
  font-size:1.8rem;
}

.mid-nav-menu > li {
  padding: 0 2rem;
}

.mid-nav-menu > li > a {
  color: var(--default-color);
}

.hamburger-box{
  display:none;
  width:3rem;
  height:3rem;
  position: relative;
}

.hamburger-box > i{
  font-size:3rem;
}

#hamburger{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  z-index: -1;
}

/* bottom-nav */

.bottom-nav-container {
  height: 6rem;
  border-bottom: 1px solid var(--border-color);
}

.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-nav-left{
  font-size:1.3rem;
}

.bottom-nav-left > ul {
  display: flex;
}

.bottom-nav-left > ul > li {
  padding: 0 1rem;
}

.bottom-nav-left > ul > li:nth-child(1) {
  color: var(--default-color);
  background-color: red;
}

.bottom-nav-right{
  font-size:1.6rem;
}

.bottom-nav-right > p {
  display: flex;
  font-weight: bold;
}

  
  @media (min-width: 768px) and (max-width: 1024px) {

    
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
 
  }

  @media (min-width: 0px) and (max-width: 767px) {
  

    
    .mid-nav-menu{
      display:none;
    }
    
   
    .bottom-nav-container {
      display:none;
    }

    .hamburger-box{
      display:block;
     
    }
    
    }

  
  