.func3-past-win-table,
.func3-past-win-table td,
.func3-past-win-table tr{
  border-top:none;
  border-bottom:none;
}

.func3-past-win-table tr{
    background-color: aliceblue;
    height: 2.5rem;
  }
  
  .func3-past-win-table tr>td{
    width: 16.6%;
    text-align: center;
    font-size:1.3rem;
  }
  
  .func3-list-filter-table tr >td{
    font-size:1.3rem;
    width:12.5%;
    text-align: center;
  }
  .func3-list-filter-table tr:nth-child(1){
    background: beige;
    height:2rem;
  }
  .func3-list-filter-table tr:nth-child(2){
    height:2.5rem;
  }