

  
  .func1-main-2-box{
    height:31rem;
  }

  #func1-chart-bubble{
    width:100%;
    height:100%;
  }

  .func1-bubble-que{
    position: absolute;
    top:5%;
    right:5%;
  }

  .func1-bubble-text{
    width:100%;
    height:60%;
  }

  .func1-bubble-que-modal-text{
    width:40rem;
    height:33rem;
  }
  
  #func1-bubble-table{
    height:40%;
  }
  
  .func1-checkbox-container{
    width: 70%;
  }
  
  .func1-checkbox {
    font-size:1.3rem;
    display: flex;
    height:100%;
    align-items: center;
    justify-content: space-around;
  }
  
  .func1-checkbox > div {
    position: relative;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgba(0, 0, 0, 0.4);
  }

  .func1-checkbox > div:hover {
    transform: scale(1.05);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  }
  
  .func1-checkbox > div > input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
.func1-num-check-current{
  background-color: var(--checkbox-color);
  color:var(--default-color);
}