.func3-make-btn-container{
  display:flex;
  align-items: center;
  justify-content: center;
  height:10rem;
}

.func3-filter-table{
  height:100%;
}

.func3-filter-table  tr:nth-child(1) >td{
background-color: var(--table-title-color);
}

.func3-filter-table  tr >td{
  width:11.11%;
font-size:1.4rem;
text-align: center;
height:5rem;
}


.func3-filter-value-box {
  width: 100%;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center; 
}

.func3-select-num {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin:0 1rem;
  color: var(--default-color);
  background-color: blue;
  font-size:1.3rem;
}


.func3-filter-num{
  font-size:1.6rem;
  text-align: center;
  background-color: var(--lotto-title-color);
  color:var(--default-color);
  padding:1rem;
}

.func3-filter-container-box-1{
  margin-bottom:1rem;
}


.func3-filter-container-box-2{
  margin-bottom:1rem;
}

.func3-filter-container-box-1 > div:last-child{
  border:none;
}

.func3-filter-container{
  display:flex;
  height:6rem;
  border-bottom:1px solid var(--border-color);
}

.func3-filter-title{
  display:flex;
  align-items: center;
  justify-content: center;
  font-size:1.5rem;
  background-color: var(--table-title-color);
  width:20%;
  border-right:1px solid var(--border-color);
}

.func3-filter-value-container{
  width:80%;
}

.func3-all-check-box-container{
  height:6rem;
  display:flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.func3-all-check-box-container > span{
  width:10%;
  font-size:1.3rem;
  padding-left:0.5rem;
}

.func3-all-check-box{
  width:10%;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}

.func3-all-check-box > input{
  width:2rem;
  height:2rem;
}

.func3-save-box-1{
  width:80%;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}

.save-btn{
  width:10rem;
  height:3.5rem;
  color:var(--default-color);
  font-size:1.4rem;
  background-color: var(--button-color1);
}

.func3-check-box{
  width:10%;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}

.func3-num-container {
  display:flex;
  margin-bottom:1rem;
  background:#357aab;
  height:11rem;
}

.func3-num-container > div input{
  width:2rem;
  height:2rem;
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.func3-num-box{
  width:90%;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.func3-num-box > div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.func3-num-box > div{
  font-weight: 500;
  font-size: 2.8rem;
  color: var(--default-color);
  width: 5rem;
  height: 5rem;
  margin: 0.6rem;
  line-height: 1.7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.func3-num-box > div:nth-child(1){
  background-color: #FBC400;
}

.func3-num-box > div:nth-child(2){
  background-color: #FF7272;
}

.func3-num-box > div:nth-child(3){
  background-color: #69C8F2;
}

.func3-num-box > div:nth-child(4){
  background-color: #B0D840;
}

.func3-num-box > div:nth-child(5){
  background-color: #AAAAAA;
}
.func3-num-box > div:nth-child(6){
  background-color: #FF7272;
}


.func3-num-text{
  height:50%;
}

.func3-save-box-2{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  height:10rem;
}

.make-btn{
  padding-bottom:0.5rem;
  border-radius: 5px;
  background-color: rgba(3, 155, 229,1);
  width:12rem;
  height:5rem;
  font-size:2rem;
  color:var(--default-color);
}

.make-btn:hover{
  background-color: rgba(3, 155, 229,0.95);
  transition: ease-in-out all 0.15s;
  box-shadow: inset -3px -5px 0 rgba(0,0,0,0.2),inset 3px 1px 0 rgba(0,0,0,0.2);
}

.make-btn:active{
  transition: ease-in-out all 0.15s;
  box-shadow:none;
}