
.func3-all-check-box-container{
  background-color: var(--table-title-color);
  height:6rem;
  display:flex;
  align-items: center;
  margin-bottom: 1rem;
}

.func3-all-check-box-container > span{
  width:15%;
  font-size:1.3rem;
  padding-left:0.5rem;
}

.func3-all-check-box{
  width:8%;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}

.func3-all-check-box > input{
  width:2rem;
  height:2rem;
}

.func3-save-box-1{
  width:77%;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}

.save-btn{
  border-radius: 3px;
  margin-right:2rem;
  width:10rem;
  height:3.5rem;
  color:var(--default-color);
  font-size:1.4rem;
  background-color: var(--button-color2);
}

  
  .func3-save-box-2{
    background-color: var(--table-title-color);
    display:flex;
    align-items: center;
    justify-content: flex-end;
    height:6rem;
  }