.anchor-box > ul >li:nth-child(2){
    background-color: rgb(220,220,220);
    font-weight: bold;  
  }

  .anchor-box > ul >li:nth-child(2) >a:hover{
    opacity: 1 !important;
  }

/* inc-exc-layout */

  .include-layout{
    padding:1rem 0;
  }

  .exclude-layout{
    padding:1rem 0;
  }

.switch-toggle-container{
position: relative;
}

.switch-toggle-knobs,
.switch-toggle-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.switch-toggle-btn {
    position: absolute;
    right:1rem;
    width: 74px;
    height: 36px;
    margin: 0 auto 0 auto;
    overflow: hidden;
}


.switch-toggle-checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.switch-toggle-knobs {
    z-index: 2;
}

.switch-toggle-layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

     /* Button 10 */
     #inc-exc-toggle-btn .switch-toggle-knobs:before,
     #inc-exc-toggle-btn .switch-toggle-knobs:after,
     #inc-exc-toggle-btn .switch-toggle-knobs span {
         position: absolute;
         top: 4px;
         font-size: 10px;
         font-weight: bold;
         text-align: center;
         line-height: 1;
         padding: 9px 4px;
         border-radius: 2px;
         transition: 0.3s ease all;
     }

     #inc-exc-toggle-btn .switch-toggle-knobs:before {
         content: '';
         left: 4px;
         background-color: #03A9F4;
         width: 20px;
         height: 10px;
     }

     #inc-exc-toggle-btn .switch-toggle-knobs:after {
         content: '제외';
         right: 4px;
         color: #4e4e4e;
         width: 20px;
         height: 10px;
     }

     #inc-exc-toggle-btn .switch-toggle-knobs span {
         display: inline-block;
         left: 4px;
         color: #fff;
         z-index: 1;
         width: 28px;
         height: 28px;
     }

     #inc-exc-toggle-btn .switch-toggle-checkbox:checked+.switch-toggle-knobs span {
         color: #4e4e4e;
     }

     #inc-exc-toggle-btn .switch-toggle-checkbox:checked+.switch-toggle-knobs:before {
         left: 42px;
         background-color: #F44336;
     }

     #inc-exc-toggle-btn .switch-toggle-checkbox:checked+.switch-toggle-knobs:after {
         color: #fff;
     }

     #inc-exc-toggle-btn .switch-toggle-checkbox:checked~.switch-toggle-layer {
         background-color: #fcebeb;
     }