
html{
    background-color: var(--box-color);
}

/* header */

#header{
    height:15rem;
}

.logo{
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.logo > a{
    color:var(--main-color);
}

.section{
    height:60rem;
}

/* login box */

.find-container{
    display:flex;
    align-items: flex-start;
    justify-content: center;
}

.find-box{
    width:50rem;
    height:30rem;
    padding:3rem;
    border:1px solid var(--border-color);
    display:flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--default-color);
}

.find-box> input{
    border: 1px solid var(--border-color);
    margin-bottom:6rem;
    height:5rem;
    font-size:0.9rem;
}

.find-box> input:focus{
    border: 1px solid var(--main-color);
}


.find-box > label{
    padding:0 0 3rem 0;
    font-weight: bold;
}

.find-btn{
    background-color: var(--main-color);
    color:var(--default-color);
    height:6rem;
    font-size:1.3rem;
}